# COVID 19

# Introduction

# Goals

# Technical Requirements

# Libraries

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

sns.set_palette("pastel")

# Datasets

## Age

In [78]:
age = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\\age.csv",
    index_col=0,
    skipinitialspace=True,
)

In [79]:
# Deletes time column.
age = age.drop(["time"], axis=1)

In [80]:
# Modifies column names.
age.rename(
    columns={
        "age": "Age",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)

In [82]:
groupby_age = age[['Age', 'Confirmed', 'Deceased']].groupby(['Age']).sum()

In [83]:
groupby_age["Percentage"] = (
    groupby_age["Deceased"] / groupby_age["Confirmed"]
) * 100
groupby_age['Percentage'] = groupby_age['Percentage'].apply('{:,.2f}'.format).astype('float64')

groupby_age.sort_values('Percentage', ascending = False)

     Confirmed  Deceased  Percentage
Age
80s      54086     12136       22.44
70s      82107      7599        9.25
60s     158505      3743        2.36
50s     230030      1537        0.67
40s     168250       295        0.18
30s     137539       194        0.14
0s       16107         0        0.00
10s      68752         0        0.00
20s     345827         0        0.00

## Gender

In [72]:
gender = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\gender.csv",
    index_col=0,
    skipinitialspace=True,
)

In [73]:
# Deletes time column.
gender = gender.drop(["time"], axis=1)

In [74]:
# Modifies column names.
gender.rename(
    columns={
        "sex": "Sex",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)

In [76]:
groupby_gender = gender[['Sex', 'Confirmed', 'Deceased']].groupby(['Sex']).sum()

In [77]:
groupby_gender["Percentage"] = (
    groupby_gender["Deceased"] / groupby_gender["Confirmed"]
) * 100
groupby_gender['Percentage'] = groupby_gender['Percentage'].apply('{:,.2f}'.format).astype('float64')
groupby_gender.sort_values('Percentage', ascending = False)

        Confirmed  Deceased  Percentage
Sex
male       513727     13484        2.62
female     747467     12019        1.61

## Province

In [66]:
province = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\province.csv",
    index_col=0,
    skipinitialspace=True,
)

In [67]:
# Deletes time column.
province = province.drop(["time", "released"], axis=1)

In [68]:
# Modifies column names.
province.rename(
    columns={
        "province": "Province",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)

In [70]:
groupby_province = province[['Province', 'Confirmed', 'Deceased']].groupby(['Province']).sum()

In [71]:
groupby_province["Percentage"] = (
    groupby_province["Deceased"] / groupby_province["Confirmed"]
) * 100
groupby_province['Percentage'] = groupby_province['Percentage'].apply('{:,.2f}'.format).astype('float64')
groupby_province.sort_values('Percentage', ascending = False)

                   Confirmed  Deceased  Percentage
Province
Gangwon-do              5908       225        3.81
Gyeongsangbuk-do      161079      5393        3.35
Daegu                 807506     17624        2.18
Gyeonggi-do            81059      1600        1.97
Busan                  16341       299        1.83
Ulsan                   5269        91        1.73
Daejeon                 5217        58        1.11
Seoul                  81923       298        0.36
Incheon                16645        16        0.10
Gwangju                 3359         0        0.00
Chungcheongnam-do      16780         0        0.00
Chungcheongbuk-do       5801         0        0.00
Gyeongsangnam-do       13860         0        0.00
Jeju-do                 1449         0        0.00
Jeollabuk-do            2108         0        0.00
Jeollanam-do            1763         0        0.00
Sejong                  5111         0        0.00

## Patient

In [105]:
patient = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\patient.csv",
    index_col=False,
    skipinitialspace=True,
)

In [106]:
# Deletes unneeded columns.
patient = patient.drop(
    [
        "country",
        "province",
        "city",
        "symptom_onset_date",
        "confirmed_date",
        "released_date",
        "deceased_date",
        "state",
        "infected_by",
        "contact_number",
        "ID"
    ],
    axis=1,
)

In [107]:
# Modifies column names.
patient.rename(
    columns={
        "sex": "Sex",
        "age": "Age",
        "infection_case": "Infection",      
    },
    inplace=True,
)

In [124]:
pd.reset_option('display.max_rows')
Total = patient['Infection'].value_counts()
Total

contact with patient                             1610
overseas inflow                                   840
etc                                               703
Itaewon Clubs                                     162
Richway                                           128
Guro-gu Call Center                               112
Shincheonji Church                                107
Coupang Logistics Center                           80
Yangcheon Table Tennis Club                        44
Day Care Center                                    43
SMR Newly Planted Churches Group                   36
Onchun Church                                      33
Bonghwa Pureun Nursing Home                        31
gym facility in Cheonan                            30
Ministry of Oceans and Fisheries                   28
Wangsung Church                                    24
Cheongdo Daenam Hospital                           21
Dongan Church                                      17
Eunpyeong St. Mary's Hospital                      16
Gyeongsan Seorin Nursing Home                      15
Dunsan Electronics Town                            13
KB Life Insurance                                  13
Seongdong-gu APT                                   13
Gyeongsan Jeil Silver Town                         12
Milal Shelter                                      11
Gyeongsan Cham Joeun Community Center              10
Samsung Medical Center                              7
Korea Campus Crusade of Christ                      7
Orange Town                                         7
Geochang Church                                     6
Geumcheon-gu rice milling machine manufacture       6
Gangnam Yeoksam-dong gathering                      6
Seocho Family                                       5
Guri Collective Infection                           5
Yeonana News Class                                  5
Yongin Brothers                                     4
gym facility in Sejong                              4
Changnyeong Coin Karaoke                            4
Samsung Fire & Marine Insurance                     4
Daezayeon Korea                                     3
Biblical Language study meeting                     3
Seoul City Hall Station safety worker               3
Suyeong-gu Kindergarten                             3
Yeongdeungpo Learning Institute                     3
Pilgrimage to Israel                                2
Uiwang Logistics Center                             2
Gangnam Dongin Church                               1
Orange Life                                         1
River of Grace Community Church                     1
Anyang Gunpo Pastors Group                          1
Daejeon door-to-door sales                          1
Name: Infection, dtype: int64

## Case

In [145]:
case = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\case.csv",
    index_col=False,
    skipinitialspace=True,
)

In [146]:
# Deletes time column.
case = case.drop(["case_id", "latitude", "longitude"], axis=1)

In [147]:
# Modifies column names.
case.rename(
    columns={
        "province": "Province",
        "city": "City",
        "group": "Group",
        "infection_case": "Location",
        "confirmed": "Confirmed",
        
    },
    inplace=True,
)
case.head()

  Province          City  Group                     Location  Confirmed
0    Seoul    Yongsan-gu   True                Itaewon Clubs        139
1    Seoul     Gwanak-gu   True                      Richway        119
2    Seoul       Guro-gu   True          Guro-gu Call Center         95
3    Seoul  Yangcheon-gu   True  Yangcheon Table Tennis Club         43
4    Seoul     Dobong-gu   True              Day Care Center         43

In [158]:
case = case[
    ["Province", "City", "Location", "Confirmed", "Group"]
]
pd.set_option("max_rows", None)
case.sort_values(['Location', 'Confirmed'], ascending=[False, False])

,Province,City,Location,Confirmed,Group
109,Gyeonggi-do,-,overseas inflow,305,False
35,Seoul,-,overseas inflow,298,False
67,Incheon,-,overseas inflow,68,False
55,Daegu,-,overseas inflow,41,False
45,Busan,-,overseas inflow,36,False
167,Gyeongsangnam-do,-,overseas inflow,26,False
81,Ulsan,-,overseas inflow,25,False
60,Gwangju,-,overseas inflow,23,False
155,Gyeongsangbuk-do,-,overseas inflow,22,False
117,Gangwon-do,-,overseas inflow,16,False
132,Chungcheongnam-do,-,overseas inflow,16,False
77,Daejeon,-,overseas inflow,15,False
142,Jeollanam-do,-,overseas inflow,14,False
170,Jeju-do,-,overseas inflow,14,False
124,Chungcheongbuk-do,-,overseas inflow,13,False
138,Jeollabuk-do,-,overseas inflow,12,False
87,Sejong,-,overseas inflow,5,False
85,Sejong,Sejong,gym facility in Sejong,8,True
127,Chungcheongnam-do,Cheonan-si,gym facility in Cheonan,103,True
57,Daegu,-,etc,747,False
157,Gyeongsangbuk-do,-,etc,133,False
37,Seoul,-,etc,100,False
111,Gyeonggi-do,-,etc,84,False
47,Busan,-,etc,30,False
169,Gyeongsangnam-do,-,etc,20,False
79,Daejeon,-,etc,15,False
134,Chungcheongnam-do,-,etc,12,False
69,Incheon,-,etc,11,False
126,Chungcheongbuk-do,-,etc,11,False
83,Ulsan,-,etc,7,False
119,Gangwon-do,-,etc,7,False
139,Jeollabuk-do,-,etc,5,False
144,Jeollanam-do,-,etc,4,False
172,Jeju-do,-,etc,4,False
62,Gwangju,-,etc,1,False
89,Sejong,-,etc,1,False
56,Daegu,-,contact with patient,917,False
156,Gyeongsangbuk-do,-,contact with patient,190,False
36,Seoul,-,contact with patient,162,False
110,Gyeonggi-do,-,contact with patient,63,False
46,Busan,-,contact with patient,19,False
78,Daejeon,-,contact with patient,15,False
125,Chungcheongbuk-do,-,contact with patient,8,False
68,Incheon,-,contact with patient,6,False
168,Gyeongsangnam-do,-,contact with patient,6,False
61,Gwangju,-,contact with patient,5,False
143,Jeollanam-do,-,contact with patient,4,False
82,Ulsan,-,contact with patient,3,False
88,Sejong,-,contact with patient,3,False
133,Chungcheongnam-do,-,contact with patient,2,False
118,Gangwon-do,-,contact with patient,0,False
171,Jeju-do,-,contact with patient,0,False
30,Seoul,from other city,Yongin Brothers,4,True
23,Seoul,Yeongdeungpo-gu,Yeongdeungpo Learning Institute,3,True
15,Seoul,Seodaemun-gu,Yeonana News Class,5,True
150,Gyeongsangbuk-do,Yechun-gun,Yechun-gun,40,True
3,Seoul,Yangcheon-gu,Yangcheon Table Tennis Club,43,True
97,Gyeonggi-do,from other city,Yangcheon Table Tennis Club,28,True
114,Gangwon-do,Wonju-si,Wonju-si Apartments,4,True
160,Gyeongsangnam-do,Jinju-si,Wings Tower,9,True
9,Seoul,Gwanak-gu,Wangsung Church,30,True
106,Gyeonggi-do,from other city,Wangsung Church,6,True
32,Seoul,from other city,Uiwang Logistics Center,2,True
94,Gyeonggi-do,Uijeongbu-si,Uijeongbu St. Mary’s Hospital,50,True
113,Gangwon-do,from other city,Uijeongbu St. Mary’s Hospital,10,True
40,Busan,Suyeong-gu,Suyeong-gu Kindergarten,5,True
103,Gyeonggi-do,Suwon-si,Suwon Saeng Myeong Saem Church,10,True
164,Gyeongsangnam-do,Yangsan-si,Soso Seowon,3,True
48,Daegu,Nam-gu,Shincheonji Church,4511,True
145,Gyeongsangbuk-do,from other city,Shincheonji Church,566,True
158,Gyeongsangnam-do,from other city,Shincheonji Church,32,True
96,Gyeonggi-do,from other city,Shincheonji Church,29,True
112,Gangwon-do,from other city,Shincheonji Church,17,True
80,Ulsan,from other city,Shincheonji Church,16,True
39,Busan,from other city,Shincheonji Church,12,True
59,Gwangju,from other city,Shincheonji Church,9,True
20,Seoul,from other city,Shincheonji Church,8,True
123,Chungcheongbuk-do,from other city,Shincheonji Church,6,True
66,Incheon,from other city,Shincheonji Church,2,True
75,Daejeon,from other city,Shincheonji Church,2,True
86,Sejong,from other city,Shincheonji Church,1,True
137,Jeollabuk-do,from other city,Shincheonji Church,1,True
141,Jeollanam-do,from other city,Shincheonji Church,1,True
107,Gyeonggi-do,from other city,Seoul City Hall Station safety worker,5,True
31,Seoul,Jung-gu,Seoul City Hall Station safety worker,3,True
129,Chungcheongnam-do,Seosan-si,Seosan-si Laboratory,9,True
76,Daejeon,from other city,Seosan-si Laboratory,2,True
108,Gyeonggi-do,Seongnam-si,Seongnam neighbors gathering,5,True
11,Seoul,Seongdong-gu,Seongdong-gu APT,13,True
26,Seoul,Seocho-gu,Seocho Family,5,True
49,Daegu,Dalseong-gun,Second Mi-Ju Hospital,196,True
13,Seoul,Gangnam-gu,Samsung Medical Center,7,True
28,Seoul,Gangnam-gu,Samsung Fire & Marine Insurance,4,True
6,Seoul,from other city,SMR Newly Planted Churches Group,36,True
98,Gyeonggi-do,-,SMR Newly Planted Churches Group,25,True
29,Seoul,Gangseo-gu,SJ Investment Call Center,0,True
90,Gyeonggi-do,Seongnam-si,River of Grace Community Church,67,True
1,Seoul,Gwanak-gu,Richway,119,True
93,Gyeonggi-do,from other city,Richway,58,True
115,Gangwon-do,from other city,Richway,4,True
130,Chungcheongnam-do,from other city,Richway,3,True
149,Gyeongsangbuk-do,from other city,Pilgrimage to Israel,41,True
72,Daejeon,Seo-gu,Orange Town,7,True
33,Seoul,-,Orange Life,1,True
38,Busan,Dongnae-gu,Onchun Church,39,True
166,Gyeongsangnam-do,from other city,Onchun Church,2,True
84,Sejong,Sejong,Ministry of Oceans and Fisheries,31,True
151,Gyeongsangbuk-do,Chilgok-gun,Milal Shelter,36,True
5,Seoul,Guro-gu,Manmin Central Church,41,True
140,Jeollanam-do,Muan-gun,Manmin Central Church,2,True
101,Gyeonggi-do,Suwon-si,Lotte Confectionery logistics center,15,True
102,Gyeonggi-do,Anyang-si,Lord Glory Church,17,True
74,Daejeon,Seo-gu,Korea Forest Engineer Institute,3,True
16,Seoul,Jongno-gu,Korea Campus Crusade of Christ,7,True
104,Gyeonggi-do,from other city,Korea Campus Crusade of Christ,7,True
22,Seoul,Jung-gu,KB Life Insurance,13,True
14,Seoul,Jung-gu,Jung-gu Fashion Company,7,True
12,Seoul,Jongno-gu,Jongno Community Center,10,True
42,Busan,Jin-gu,Jin-gu Academy,4,True
0,Seoul,Yongsan-gu,Itaewon Clubs,139,True
92,Gyeonggi-do,from other city,Itaewon Clubs,59,True
63,Incheon,from other city,Itaewon Clubs,53,True
121,Chungcheongbuk-do,from other city,Itaewon Clubs,9,True
43,Busan,from other city,Itaewon Clubs,4,True
53,Daegu,from other city,Itaewon Clubs,2,True
135,Jeollabuk-do,from other city,Itaewon Clubs,2,True
165,Gyeongsangnam-do,from other city,Itaewon Clubs,2,True
173,Jeju-do,from other city,Itaewon Clubs,1,True
50,Daegu,Seo-gu,Hansarang Convalescent Hospital,124,True
162,Gyeongsangnam-do,Changwon-si,Hanmaeum Changwon Hospital,7,True
41,Busan,Haeundae-gu,Haeundae-gu Catholic Church,6,True
148,Gyeongsangbuk-do,Gyeongsan-si,Gyeongsan Seorin Nursing Home,66,True
152,Gyeongsangbuk-do,Gyeongsan-si,Gyeongsan Jeil Silver Town,17,True
153,Gyeongsangbuk-do,Gyeongsan-si,Gyeongsan Cham Joeun Community Center,16,True
58,Gwangju,Dong-gu,Gwangneuksa Temple,5,True
2,Seoul,Guro-gu,Guro-gu Call Center,95,True
95,Gyeonggi-do,from other city,Guro-gu Call Center,50,True
65,Incheon,from other city,Guro-gu Call Center,20,True
122,Chungcheongbuk-do,from other city,Guro-gu Call Center,2,True
21,Seoul,from other city,Guri Collective Infection,5,True
154,Gyeongsangbuk-do,Gumi-si,Gumi Elim Church,10,True
120,Chungcheongbuk-do,Goesan-gun,Goesan-gun Jangyeon-myeon,11,True
19,Seoul,Geumcheon-gu,Geumcheon-gu rice milling machine manufacture,6,True
105,Gyeonggi-do,from other city,Geumcheon-gu rice milling machine manufacture,6,True
116,Gangwon-do,from other city,Geumcheon-gu rice milling machine manufacture,4,True
161,Gyeongsangnam-do,Geochang-gun,Geochang-gun Woongyang-myeon,8,True
159,Gyeongsangnam-do,Geochang-gun,Geochang Church,10,True
17,Seoul,Gangnam-gu,Gangnam Yeoksam-dong gathering,6,True
24,Seoul,Gangnam-gu,Gangnam Dongin Church,1,True
52,Daegu,Dong-gu,Fatima Hospital,39,True
131,Chungcheongnam-do,from other city,Eunpyeong-Boksagol culture center,3,True
10,Seoul,Eunpyeong-gu,Eunpyeong St. Mary's Hospital,14,True
71,Daejeon,Seo-gu,Dunsan Electronics Town,13,True
73,Daejeon,Seo-gu,Dreaming Church,4,True
70,Daejeon,-,Door-to-door sales in Daejeon,55,True
128,Chungcheongnam-do,from other city,Door-to-door sales in Daejeon,10,True
136,Jeollabuk-do,from other city,Door-to-door sales in Daejeon,3,True
7,Seoul,Dongdaemun-gu,Dongan Church,17,True
4,Seoul,Dobong-gu,Day Care Center,43,True
34,Seoul,Guro-gu,Daezayeon Korea,3,True
51,Daegu,Dalseong-gun,Daesil Convalescent Hospital,101,True
18,Seoul,from other city,Daejeon door-to-door sales,1,True
91,Gyeonggi-do,Bucheon-si,Coupang Logistics Center,67,True
64,Incheon,from other city,Coupang Logistics Center,42,True
8,Seoul,from other city,Coupang Logistics Center,25,True
146,Gyeongsangbuk-do,Cheongdo-gun,Cheongdo Daenam Hospital,119,True
54,Daegu,from other city,Cheongdo Daenam Hospital,2,True
44,Busan,from other city,Cheongdo Daenam Hospital,1,True
163,Gyeongsangnam-do,Changnyeong-gun,Changnyeong Coin Karaoke,7,True
99,Gyeonggi-do,Seongnam-si,Bundang Jesaeng Hospital,22,True
147,Gyeongsangbuk-do,Bonghwa-gun,Bonghwa Pureun Nursing Home,68,True
25,Seoul,Yangcheon-gu,Biblical Language study meeting,3,True
100,Gyeonggi-do,Anyang-si,Anyang Gunpo Pastors Group,22,True
27,Seoul,from other city,Anyang Gunpo Pastors Group,1,True

In [70]:
groupby_province = province[['Province', 'Confirmed', 'Deceased']].groupby(['Province']).sum()

In [71]:
groupby_province["Percentage"] = (
    groupby_province["Deceased"] / groupby_province["Confirmed"]
) * 100
groupby_province['Percentage'] = groupby_province['Percentage'].apply('{:,.2f}'.format).astype('float64')
groupby_province.sort_values('Percentage', ascending = False)

                   Confirmed  Deceased  Percentage
Province
Gangwon-do              5908       225        3.81
Gyeongsangbuk-do      161079      5393        3.35
Daegu                 807506     17624        2.18
Gyeonggi-do            81059      1600        1.97
Busan                  16341       299        1.83
Ulsan                   5269        91        1.73
Daejeon                 5217        58        1.11
Seoul                  81923       298        0.36
Incheon                16645        16        0.10
Gwangju                 3359         0        0.00
Chungcheongnam-do      16780         0        0.00
Chungcheongbuk-do       5801         0        0.00
Gyeongsangnam-do       13860         0        0.00
Jeju-do                 1449         0        0.00
Jeollabuk-do            2108         0        0.00
Jeollanam-do            1763         0        0.00
Sejong                  5111         0        0.00

# Data Cleaning

# Descriptive Statistics

# Exploratory Data Analysis (EDA)

# Conclusions

# Recommendations

# Suggestions for Improvement