# COVID 19

# Introduction

As the lead data scientist for the government of the Republic of Lithuania, I was given a personal mission by President Gitanas Nausėda to prepare the nation for a possible next wave of the Corona virus pandemic. South Korea has been one of the more successful nations in the fight against COVID-19, so I decided to analyze the available COVID-19 data on South Korea to learn of their success strategies, their pitfalls. In my analysis, I will determine what I have learned that can be applied here in Lithuania.

As of the date of this analysis, February 25, 2022, the COVID-19 numbers from South Korea are as follows:

- Confirmed Cases: 2,665,077
- Deaths: 7,783
- Recovered: 969,524

The first known case of COVID-19 in South Korea was on January 20, 2020 when a 35-year-old Chinese woman arrived at Incheon Airport from Wuhan and tested positive. By early March, approximately forty days after its first confirmed case South Korea became the second most infected country after China. South Korea undertook a massive public and private sector effort to fashion a national response to the pandemic. 

The South Korean response is distinct in several respects: 
- Early: An early and almost immediate response after the first case on January 20.
- Speed: A premium on moving as quickly as possible in setting up a testing regime.
- Transparency: Real-time and frequent information dissemination to the public.
- Public-Private sector: Enlisting companies with needed resources in a private-public sector response.
- National organization: Organized as a national effort rather than at the city, provincial, or local levels.

I will utilize the following datasets which contain data from January to June 2020:
1. Age: Confirmed and deceased cases based on age groups
2. Gender: Confirmed and deceased cases based on gender, male or female 
3. Province: Confirmed and deceased cases based on province
4. Patient: Confirmed and deceased cases based on age, gender, method of infection, province and city
5. Case: Confirmed cases based on method of infection, province, city, and specific location
6. Population: Count and ratio of academic organizations, nursing homes and elderly population
7. Test: Number of tests and number of negative and positive results.

I will perform the following tasks on these datasets:
1. Load the data into Pandas
2. Provide basic information about the data
3. Clean and prepare the data for analysis
4. Provide basic descriptive statistics
5. Perform Exploratory Data Analysis (EDA)
6. Summarize and provide conclusions of my findings
7. Discuss possible further analysis

# Goals

 The goal of this project is to present the report of my analysis of the South Korean datasets to President Gitanas Nausėda and provide the government of the Republic of Lithuania with recommendations on how to prepare of a possible next wave of the Corona virus pandemic. I will concentrate on the following topics:
 
**Total Numbers** 

**Effect of Population Density**

**Effect of Weather**

**Effect of Testing**

**Effect of Travel**

**Some Ideas for Analysis**
    
	2. Deceased demographics
	3. People bringing infection from abroad
	4. Super Spreader demographics
	5. Top 10 Infection Cases
	7. Join Gender and Age Data
	8. Organizations
	9. Province Population Density and Numbers Infected Totals
	10. Number Tested / Deceased
	11. Effect of Weather
    12. Different policies on number of cases or number of fatalities
	13. Cases and deaths in different age groups
	14. Male vs Female
	15. Population density 
	16. Weather
	17. Mortality Rate

# Technical Requirements

## General Objectives

- Practice identifying opportunities for data analysis.
- Practice performing EDA.
- Practice working with data from Kaggle.
- Practice visualizing data with Matplotlib & Seaborn.
- Practice reading data, performing queries, and filtering data using Pandas.

## The Project

The world is still struggling with one of the most rapidly spreading pandemics. There are a lot of people who say that data is the best weapon we can use in this "Corona Fight."
Imagine that you are one of the best data scientists in your country. The president of your country asked you to analyze the COVID-19 patient-level data of South Korea and prepare your homeland for the next wave of the pandemic. You, as the lead data scientist of your country have to create and prove a plan of fighting the pandemics in your country by analyzing the provided data. You must get the most critical insights using learned data science techniques and present them to the lead of your country.

# Libraries

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from IPython.display import display

sns.set_palette("pastel")

# Loading Data

In [2]:
age = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\\age.csv",
    index_col=False,
    skipinitialspace=True,
)

In [3]:
gender = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\gender.csv",
    index_col=False,
    skipinitialspace=True,
)

In [4]:
province = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\province.csv",
    index_col=False,
    skipinitialspace=True,
)

In [5]:
patient = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\patient.csv",
    index_col=False,
    skipinitialspace=True,
)

In [6]:
case = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\case.csv",
    index_col=False,
    skipinitialspace=True,
)

In [7]:
population = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\population.csv",
    index_col=False,
    skipinitialspace=True,
)

In [8]:
test = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\\test.csv",
    index_col=False,
    skipinitialspace=True,
)

# Functions

In [9]:
def update_dictionary(age, gender, province, patient, case, population, test):
    all_data = {
    "Age:": age,
    "Gender:": gender,
    "Province:": province,
    "Patient:": patient,
    "Case:": case,
    "Population:": population,
    "Test:": test
}
    return all_data

# Basic Information

In [10]:
all_data = update_dictionary(age, gender, province, patient, case, population, test)

## Number of Rows

In [11]:
for name, data in all_data.items():
    print(name, data.shape[0])

Age: 1089
Gender: 242
Province: 2771
Patient: 5165
Case: 174
Population: 243
Test: 163

## Number of Columns

In [12]:
for name, data in all_data.items():
    print(name, data.shape[1])

Age: 5
Gender: 5
Province: 6
Patient: 14
Case: 8
Population: 12
Test: 7

## Information on each Dataset

In [13]:
for name, data in all_data.items():
    print('\n\n{}'.format(name))
    print()
    print()
    display(data.info())

Age:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1089 entries, 0 to 1088
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1089 non-null   object
 1   time       1089 non-null   int64
 2   age        1089 non-null   object
 3   confirmed  1089 non-null   int64
 4   deceased   1089 non-null   int64
dtypes: int64(3), object(2)
memory usage: 42.7+ KB

None

Gender:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       242 non-null    object
 1   time       242 non-null    int64
 2   sex        242 non-null    object
 3   confirmed  242 non-null    int64
 4   deceased   242 non-null    int64
dtypes: int64(3), object(2)
memory usage: 9.6+ KB

None

Province:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2771 entries, 0 to 2770
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2771 non-null   object
 1   time       2771 non-null   int64
 2   province   2771 non-null   object
 3   confirmed  2771 non-null   int64
 4   released   2771 non-null   int64
 5   deceased   2771 non-null   int64
dtypes: int64(4), object(2)
memory usage: 130.0+ KB

None

Patient:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5165 entries, 0 to 5164
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5165 non-null   int64
 1   sex                 4043 non-null   object
 2   age                 3785 non-null   object
 3   country             5165 non-null   object
 4   province            5165 non-null   object
 5   city                5071 non-null   object
 6   infection_case      4246 non-null   object
 7   infected_by         1346 non-null   object
 8   contact_number      791 non-null    object
 9   symptom_onset_date  689 non-null    object
 10  confirmed_date      5162 non-null   object
 11  released_date       1587 non-null   object
 12  deceased_date       66 non-null     object
 13  state               5165 non-null   object
dtypes: int64(1), object(13)
memory usage: 565.0+ KB

None

Case:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case_id         174 non-null    int64
 1   province        174 non-null    object
 2   city            174 non-null    object
 3   group           174 non-null    bool
 4   infection_case  174 non-null    object
 5   confirmed       174 non-null    int64
 6   latitude        174 non-null    object
 7   longitude       174 non-null    object
dtypes: bool(1), int64(2), object(5)
memory usage: 9.8+ KB

None

Population:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   code                      243 non-null    int64
 1   province                  243 non-null    object
 2   city                      243 non-null    object
 3   latitude                  243 non-null    float64
 4   longitude                 243 non-null    float64
 5   elementary_school_count   243 non-null    int64
 6   kindergarten_count        243 non-null    int64
 7   university_count          243 non-null    int64
 8   academy_ratio             243 non-null    float64
 9   elderly_population_ratio  243 non-null    float64
 10  elderly_alone_ratio       243 non-null    float64
 11  nursing_home_count        243 non-null    int64
dtypes: float64(5), int64(5), object(2)
memory usage: 22.9+ KB

None

Test:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       163 non-null    object
 1   time       163 non-null    int64
 2   test       163 non-null    int64
 3   negative   163 non-null    int64
 4   confirmed  163 non-null    int64
 5   released   163 non-null    int64
 6   deceased   163 non-null    int64
dtypes: int64(6), object(1)
memory usage: 9.0+ KB

None

## First 5 Rows

In [15]:
for name, data in all_data.items():
    print('\n\n{}'.format(name))
    display(data.head())

Age:

       date  time  age  confirmed  deceased
0  3/2/2020     0   0s         32         0
1  3/2/2020     0  10s        169         0
2  3/2/2020     0  20s       1235         0
3  3/2/2020     0  30s        506         1
4  3/2/2020     0  40s        633         1

Gender:

       date  time     sex  confirmed  deceased
0  3/2/2020     0    male       1591        13
1  3/2/2020     0  female       2621         9
2  3/3/2020     0    male       1810        16
3  3/3/2020     0  female       3002        12
4  3/4/2020     0    male       1996        20

Province:

        date  time province  confirmed  released  deceased
0  1/20/2020    16    Seoul          0         0         0
1  1/20/2020    16    Busan          0         0         0
2  1/20/2020    16    Daegu          0         0         0
3  1/20/2020    16  Incheon          1         0         0
4  1/20/2020    16  Gwangju          0         0         0

Patient:

,ID,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,75,1/22/2020,1/23/2020,2/5/2020,NaN,released
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,31,NaN,1/30/2020,3/2/2020,NaN,released
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2002000001,17,NaN,1/30/2020,2/19/2020,NaN,released
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,NaN,9,1/26/2020,1/30/2020,2/15/2020,NaN,released
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000002,2,NaN,1/31/2020,2/24/2020,NaN,released

Case:

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Yongsan-gu,True,Itaewon Clubs,139,37.538621,126.992652
1,1000002,Seoul,Gwanak-gu,True,Richway,119,37.48208,126.901384
2,1000003,Seoul,Guro-gu,True,Guro-gu Call Center,95,37.508163,126.884387
3,1000004,Seoul,Yangcheon-gu,True,Yangcheon Table Tennis Club,43,37.546061,126.874209
4,1000005,Seoul,Dobong-gu,True,Day Care Center,43,37.679422,127.044374

Population:

,code,province,city,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,10000,Seoul,Seoul,37.566953,126.977977,607,830,48,1.44,15.38,5.8,22739
1,10010,Seoul,Gangnam-gu,37.518421,127.047222,33,38,0,4.18,13.17,4.3,3088
2,10020,Seoul,Gangdong-gu,37.530492,127.123837,27,32,0,1.54,14.55,5.4,1023
3,10030,Seoul,Gangbuk-gu,37.639938,127.025508,14,21,0,0.67,19.49,8.5,628
4,10040,Seoul,Gangseo-gu,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080

Test:

        date  time  test  negative  confirmed  released  deceased
0  1/20/2020    16     1         0          1         0         0
1  1/21/2020    16     1         0          1         0         0
2  1/22/2020    16     4         3          1         0         0
3  1/23/2020    16    22        21          1         0         0
4  1/24/2020    16    27        25          2         0         0

# Data Cleaning

## Deleting Unneeded Columns

In [16]:
age = age.drop(["time"], axis=1)

In [17]:
gender = gender.drop(["time"], axis=1)

In [18]:
province = province.drop(["time", "released"], axis=1)

In [19]:
patient = patient.drop(
    [
        "country",
        "province",
        "city",
        "symptom_onset_date",
        "confirmed_date",
        "released_date",
        "deceased_date",
        "state",
        "infected_by",
        "contact_number",
        "ID"
    ],
    axis=1,
)

In [20]:
case = case.drop(["case_id", "latitude", "longitude"], axis=1)

In [21]:
population = population.drop(["code", "latitude", "longitude"], axis=1)

In [22]:
test = test.drop(["time"], axis=1)

## Renaming Columns

In [23]:
age.rename(
    columns={
        "date": "Date",
        "age": "Age",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)

In [24]:
gender.rename(
    columns={
        "date": "Date",
        "sex": "Sex",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)

In [25]:
province.rename(
    columns={
        "date": "Date",
        "province": "Province",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)

In [26]:
patient.rename(
    columns={
        "sex": "Sex",
        "age": "Age",
        "infection_case": "Location",      
    },
    inplace=True,
)

In [27]:
case.rename(
    columns={
        "province": "Province",
        "city": "City",
        "group": "Group",
        "infection_case": "Location",
        "confirmed": "Confirmed",
        
    },
    inplace=True,
)

In [28]:
population.rename(
    columns={
        "province": "Province",
        "city": "City",
        "elementary_school_count": "Elementary",
        "kindergarten_count": "Kindergarten",
        "university_count": "University",
        "academy_ratio": "Academy",
        "elderly_population_ratio": "Elderly",
        "elderly_alone_ratio": "Elderly Alone",
        "nursing_home_count": "Nursing Home"    
    },
    inplace=True,
)

In [29]:
test.rename(
    columns={
        "date": "Date",
        "test": "Test",
        "negative": "Negative",
        "confirmed": "Confirmed",
        "released": "Released",
        "deceased": "Deceased"   
    },
    inplace=True,
)

In [30]:
all_data = update_dictionary(age, gender, province, patient, case, population, test)

In [31]:
for name, data in all_data.items():
    print('\n\n{}'.format(name))
    display(data.head())

Age:

       Date  Age  Confirmed  Deceased
0  3/2/2020   0s         32         0
1  3/2/2020  10s        169         0
2  3/2/2020  20s       1235         0
3  3/2/2020  30s        506         1
4  3/2/2020  40s        633         1

Gender:

       Date     Sex  Confirmed  Deceased
0  3/2/2020    male       1591        13
1  3/2/2020  female       2621         9
2  3/3/2020    male       1810        16
3  3/3/2020  female       3002        12
4  3/4/2020    male       1996        20

Province:

        Date Province  Confirmed  Deceased
0  1/20/2020    Seoul          0         0
1  1/20/2020    Busan          0         0
2  1/20/2020    Daegu          0         0
3  1/20/2020  Incheon          1         0
4  1/20/2020  Gwangju          0         0

Patient:

      Sex  Age              Location
0    male  50s       overseas inflow
1    male  30s       overseas inflow
2    male  50s  contact with patient
3    male  20s       overseas inflow
4  female  20s  contact with patient

Case:

  Province          City  Group                     Location  Confirmed
0    Seoul    Yongsan-gu   True                Itaewon Clubs        139
1    Seoul     Gwanak-gu   True                      Richway        119
2    Seoul       Guro-gu   True          Guro-gu Call Center         95
3    Seoul  Yangcheon-gu   True  Yangcheon Table Tennis Club         43
4    Seoul     Dobong-gu   True              Day Care Center         43

Population:

,Province,City,Elementary,Kindergarten,University,Academy,Elderly,Elderly Alone,Nursing Home
0,Seoul,Seoul,607,830,48,1.44,15.38,5.8,22739
1,Seoul,Gangnam-gu,33,38,0,4.18,13.17,4.3,3088
2,Seoul,Gangdong-gu,27,32,0,1.54,14.55,5.4,1023
3,Seoul,Gangbuk-gu,14,21,0,0.67,19.49,8.5,628
4,Seoul,Gangseo-gu,36,56,1,1.17,14.39,5.7,1080

Test:

        Date  Test  Negative  Confirmed  Released  Deceased
0  1/20/2020     1         0          1         0         0
1  1/21/2020     1         0          1         0         0
2  1/22/2020     4         3          1         0         0
3  1/23/2020    22        21          1         0         0
4  1/24/2020    27        25          2         0         0

## Missing Data

In [32]:
for name, data in all_data.items():
    print('\n\n{}'.format(name))
    display(data.isnull().sum())

Age:

Date         0
Age          0
Confirmed    0
Deceased     0
dtype: int64

Gender:

Date         0
Sex          0
Confirmed    0
Deceased     0
dtype: int64

Province:

Date         0
Province     0
Confirmed    0
Deceased     0
dtype: int64

Patient:

Sex         1122
Age         1380
Location     919
dtype: int64

Case:

Province     0
City         0
Group        0
Location     0
Confirmed    0
dtype: int64

Population:

Province         0
City             0
Elementary       0
Kindergarten     0
University       0
Academy          0
Elderly          0
Elderly Alone    0
Nursing Home     0
dtype: int64

Test:

Date         0
Test         0
Negative     0
Confirmed    0
Released     0
Deceased     0
dtype: int64

## Duplicate Data

In [33]:
case[case.duplicated(keep=False)].any()
for name, data in all_data.items():
    print('\n\n{}'.format(name))
    display(data[data.duplicated(keep=False)].any())

Age:

Date         False
Age          False
Confirmed    False
Deceased     False
dtype: bool

Gender:

Date         False
Sex          False
Confirmed    False
Deceased     False
dtype: bool

Province:

Date         False
Province     False
Confirmed    False
Deceased     False
dtype: bool

Patient:

Sex         True
Age         True
Location    True
dtype: bool

Case:

Province     False
City         False
Group        False
Location     False
Confirmed    False
dtype: bool

Population:

Province         False
City             False
Elementary       False
Kindergarten     False
University       False
Academy          False
Elderly          False
Elderly Alone    False
Nursing Home     False
dtype: bool

Test:

Date         False
Test         False
Negative     False
Confirmed    False
Released     False
Deceased     False
dtype: bool

# Exploratory Data Analysis (EDA)

## Age

In [34]:
groupby_age = age[['Age', 'Confirmed', 'Deceased']].groupby(['Age']).sum()

In [35]:
groupby_age["Percentage"] = (
    groupby_age["Deceased"] / groupby_age["Confirmed"]
) * 100
groupby_age['Percentage'] = groupby_age['Percentage'].apply('{:,.2f}'.format).astype('float64')

groupby_age.sort_values('Percentage', ascending = False)

     Confirmed  Deceased  Percentage
Age
80s      54086     12136       22.44
70s      82107      7599        9.25
60s     158505      3743        2.36
50s     230030      1537        0.67
40s     168250       295        0.18
30s     137539       194        0.14
0s       16107         0        0.00
10s      68752         0        0.00
20s     345827         0        0.00

## Gender

In [36]:
groupby_gender = gender[['Sex', 'Confirmed', 'Deceased']].groupby(['Sex']).sum()

In [37]:
groupby_gender["Percentage"] = (
    groupby_gender["Deceased"] / groupby_gender["Confirmed"]
) * 100
groupby_gender['Percentage'] = groupby_gender['Percentage'].apply('{:,.2f}'.format).astype('float64')
groupby_gender.sort_values('Percentage', ascending = False)

        Confirmed  Deceased  Percentage
Sex
male       513727     13484        2.62
female     747467     12019        1.61

## Province

In [38]:
groupby_province = province[['Province', 'Confirmed', 'Deceased']].groupby(['Province']).sum()

In [39]:
groupby_province["Percentage"] = (
    groupby_province["Deceased"] / groupby_province["Confirmed"]
) * 100
groupby_province['Percentage'] = groupby_province['Percentage'].apply('{:,.2f}'.format).astype('float64')
groupby_province.sort_values('Percentage', ascending = False)

                   Confirmed  Deceased  Percentage
Province
Gangwon-do              5908       225        3.81
Gyeongsangbuk-do      161079      5393        3.35
Daegu                 807506     17624        2.18
Gyeonggi-do            81059      1600        1.97
Busan                  16341       299        1.83
Ulsan                   5269        91        1.73
Daejeon                 5217        58        1.11
Seoul                  81923       298        0.36
Incheon                16645        16        0.10
Gwangju                 3359         0        0.00
Chungcheongnam-do      16780         0        0.00
Chungcheongbuk-do       5801         0        0.00
Gyeongsangnam-do       13860         0        0.00
Jeju-do                 1449         0        0.00
Jeollabuk-do            2108         0        0.00
Jeollanam-do            1763         0        0.00
Sejong                  5111         0        0.00

## Patient

In [41]:
pd.reset_option('display.max_rows')
Total = patient['Location'].value_counts()
Total

contact with patient                             1610
overseas inflow                                   840
etc                                               703
Itaewon Clubs                                     162
Richway                                           128
Guro-gu Call Center                               112
Shincheonji Church                                107
Coupang Logistics Center                           80
Yangcheon Table Tennis Club                        44
Day Care Center                                    43
SMR Newly Planted Churches Group                   36
Onchun Church                                      33
Bonghwa Pureun Nursing Home                        31
gym facility in Cheonan                            30
Ministry of Oceans and Fisheries                   28
Wangsung Church                                    24
Cheongdo Daenam Hospital                           21
Dongan Church                                      17
Eunpyeong St. Mary's Hospital                      16
Gyeongsan Seorin Nursing Home                      15
Dunsan Electronics Town                            13
Seongdong-gu APT                                   13
KB Life Insurance                                  13
Gyeongsan Jeil Silver Town                         12
Milal Shelter                                      11
Gyeongsan Cham Joeun Community Center              10
Korea Campus Crusade of Christ                      7
Samsung Medical Center                              7
Orange Town                                         7
Geumcheon-gu rice milling machine manufacture       6
Geochang Church                                     6
Gangnam Yeoksam-dong gathering                      6
Guri Collective Infection                           5
Yeonana News Class                                  5
Seocho Family                                       5
gym facility in Sejong                              4
Yongin Brothers                                     4
Samsung Fire & Marine Insurance                     4
Changnyeong Coin Karaoke                            4
Daezayeon Korea                                     3
Yeongdeungpo Learning Institute                     3
Seoul City Hall Station safety worker               3
Suyeong-gu Kindergarten                             3
Biblical Language study meeting                     3
Pilgrimage to Israel                                2
Uiwang Logistics Center                             2
River of Grace Community Church                     1
Gangnam Dongin Church                               1
Daejeon door-to-door sales                          1
Anyang Gunpo Pastors Group                          1
Orange Life                                         1
Name: Location, dtype: int64

## Case

In [43]:
case = case[
    ["Province", "City", "Location", "Confirmed", "Group"]
]
pd.set_option("max_rows", None)
case.sort_values(['Confirmed', 'Location'], ascending=[False, False])

,Province,City,Location,Confirmed,Group
48,Daegu,Nam-gu,Shincheonji Church,4511,True
56,Daegu,-,contact with patient,917,False
57,Daegu,-,etc,747,False
145,Gyeongsangbuk-do,from other city,Shincheonji Church,566,True
109,Gyeonggi-do,-,overseas inflow,305,False
35,Seoul,-,overseas inflow,298,False
49,Daegu,Dalseong-gun,Second Mi-Ju Hospital,196,True
156,Gyeongsangbuk-do,-,contact with patient,190,False
36,Seoul,-,contact with patient,162,False
0,Seoul,Yongsan-gu,Itaewon Clubs,139,True
157,Gyeongsangbuk-do,-,etc,133,False
50,Daegu,Seo-gu,Hansarang Convalescent Hospital,124,True
1,Seoul,Gwanak-gu,Richway,119,True
146,Gyeongsangbuk-do,Cheongdo-gun,Cheongdo Daenam Hospital,119,True
127,Chungcheongnam-do,Cheonan-si,gym facility in Cheonan,103,True
51,Daegu,Dalseong-gun,Daesil Convalescent Hospital,101,True
37,Seoul,-,etc,100,False
2,Seoul,Guro-gu,Guro-gu Call Center,95,True
111,Gyeonggi-do,-,etc,84,False
67,Incheon,-,overseas inflow,68,False
147,Gyeongsangbuk-do,Bonghwa-gun,Bonghwa Pureun Nursing Home,68,True
90,Gyeonggi-do,Seongnam-si,River of Grace Community Church,67,True
91,Gyeonggi-do,Bucheon-si,Coupang Logistics Center,67,True
148,Gyeongsangbuk-do,Gyeongsan-si,Gyeongsan Seorin Nursing Home,66,True
110,Gyeonggi-do,-,contact with patient,63,False
92,Gyeonggi-do,from other city,Itaewon Clubs,59,True
93,Gyeonggi-do,from other city,Richway,58,True
70,Daejeon,-,Door-to-door sales in Daejeon,55,True
63,Incheon,from other city,Itaewon Clubs,53,True
94,Gyeonggi-do,Uijeongbu-si,Uijeongbu St. Mary’s Hospital,50,True
95,Gyeonggi-do,from other city,Guro-gu Call Center,50,True
3,Seoul,Yangcheon-gu,Yangcheon Table Tennis Club,43,True
4,Seoul,Dobong-gu,Day Care Center,43,True
64,Incheon,from other city,Coupang Logistics Center,42,True
55,Daegu,-,overseas inflow,41,False
149,Gyeongsangbuk-do,from other city,Pilgrimage to Israel,41,True
5,Seoul,Guro-gu,Manmin Central Church,41,True
150,Gyeongsangbuk-do,Yechun-gun,Yechun-gun,40,True
38,Busan,Dongnae-gu,Onchun Church,39,True
52,Daegu,Dong-gu,Fatima Hospital,39,True
45,Busan,-,overseas inflow,36,False
6,Seoul,from other city,SMR Newly Planted Churches Group,36,True
151,Gyeongsangbuk-do,Chilgok-gun,Milal Shelter,36,True
158,Gyeongsangnam-do,from other city,Shincheonji Church,32,True
84,Sejong,Sejong,Ministry of Oceans and Fisheries,31,True
47,Busan,-,etc,30,False
9,Seoul,Gwanak-gu,Wangsung Church,30,True
96,Gyeonggi-do,from other city,Shincheonji Church,29,True
97,Gyeonggi-do,from other city,Yangcheon Table Tennis Club,28,True
167,Gyeongsangnam-do,-,overseas inflow,26,False
81,Ulsan,-,overseas inflow,25,False
98,Gyeonggi-do,-,SMR Newly Planted Churches Group,25,True
8,Seoul,from other city,Coupang Logistics Center,25,True
60,Gwangju,-,overseas inflow,23,False
155,Gyeongsangbuk-do,-,overseas inflow,22,False
99,Gyeonggi-do,Seongnam-si,Bundang Jesaeng Hospital,22,True
100,Gyeonggi-do,Anyang-si,Anyang Gunpo Pastors Group,22,True
169,Gyeongsangnam-do,-,etc,20,False
65,Incheon,from other city,Guro-gu Call Center,20,True
46,Busan,-,contact with patient,19,False
112,Gangwon-do,from other city,Shincheonji Church,17,True
102,Gyeonggi-do,Anyang-si,Lord Glory Church,17,True
152,Gyeongsangbuk-do,Gyeongsan-si,Gyeongsan Jeil Silver Town,17,True
7,Seoul,Dongdaemun-gu,Dongan Church,17,True
117,Gangwon-do,-,overseas inflow,16,False
132,Chungcheongnam-do,-,overseas inflow,16,False
80,Ulsan,from other city,Shincheonji Church,16,True
153,Gyeongsangbuk-do,Gyeongsan-si,Gyeongsan Cham Joeun Community Center,16,True
77,Daejeon,-,overseas inflow,15,False
79,Daejeon,-,etc,15,False
78,Daejeon,-,contact with patient,15,False
101,Gyeonggi-do,Suwon-si,Lotte Confectionery logistics center,15,True
142,Jeollanam-do,-,overseas inflow,14,False
170,Jeju-do,-,overseas inflow,14,False
10,Seoul,Eunpyeong-gu,Eunpyeong St. Mary's Hospital,14,True
124,Chungcheongbuk-do,-,overseas inflow,13,False
11,Seoul,Seongdong-gu,Seongdong-gu APT,13,True
22,Seoul,Jung-gu,KB Life Insurance,13,True
71,Daejeon,Seo-gu,Dunsan Electronics Town,13,True
138,Jeollabuk-do,-,overseas inflow,12,False
134,Chungcheongnam-do,-,etc,12,False
39,Busan,from other city,Shincheonji Church,12,True
69,Incheon,-,etc,11,False
126,Chungcheongbuk-do,-,etc,11,False
120,Chungcheongbuk-do,Goesan-gun,Goesan-gun Jangyeon-myeon,11,True
113,Gangwon-do,from other city,Uijeongbu St. Mary’s Hospital,10,True
103,Gyeonggi-do,Suwon-si,Suwon Saeng Myeong Saem Church,10,True
12,Seoul,Jongno-gu,Jongno Community Center,10,True
154,Gyeongsangbuk-do,Gumi-si,Gumi Elim Church,10,True
159,Gyeongsangnam-do,Geochang-gun,Geochang Church,10,True
128,Chungcheongnam-do,from other city,Door-to-door sales in Daejeon,10,True
160,Gyeongsangnam-do,Jinju-si,Wings Tower,9,True
59,Gwangju,from other city,Shincheonji Church,9,True
129,Chungcheongnam-do,Seosan-si,Seosan-si Laboratory,9,True
121,Chungcheongbuk-do,from other city,Itaewon Clubs,9,True
85,Sejong,Sejong,gym facility in Sejong,8,True
125,Chungcheongbuk-do,-,contact with patient,8,False
20,Seoul,from other city,Shincheonji Church,8,True
161,Gyeongsangnam-do,Geochang-gun,Geochang-gun Woongyang-myeon,8,True
83,Ulsan,-,etc,7,False
119,Gangwon-do,-,etc,7,False
13,Seoul,Gangnam-gu,Samsung Medical Center,7,True
72,Daejeon,Seo-gu,Orange Town,7,True
16,Seoul,Jongno-gu,Korea Campus Crusade of Christ,7,True
104,Gyeonggi-do,from other city,Korea Campus Crusade of Christ,7,True
14,Seoul,Jung-gu,Jung-gu Fashion Company,7,True
162,Gyeongsangnam-do,Changwon-si,Hanmaeum Changwon Hospital,7,True
163,Gyeongsangnam-do,Changnyeong-gun,Changnyeong Coin Karaoke,7,True
68,Incheon,-,contact with patient,6,False
168,Gyeongsangnam-do,-,contact with patient,6,False
106,Gyeonggi-do,from other city,Wangsung Church,6,True
123,Chungcheongbuk-do,from other city,Shincheonji Church,6,True
41,Busan,Haeundae-gu,Haeundae-gu Catholic Church,6,True
19,Seoul,Geumcheon-gu,Geumcheon-gu rice milling machine manufacture,6,True
105,Gyeonggi-do,from other city,Geumcheon-gu rice milling machine manufacture,6,True
17,Seoul,Gangnam-gu,Gangnam Yeoksam-dong gathering,6,True
87,Sejong,-,overseas inflow,5,False
139,Jeollabuk-do,-,etc,5,False
61,Gwangju,-,contact with patient,5,False
15,Seoul,Seodaemun-gu,Yeonana News Class,5,True
40,Busan,Suyeong-gu,Suyeong-gu Kindergarten,5,True
107,Gyeonggi-do,from other city,Seoul City Hall Station safety worker,5,True
108,Gyeonggi-do,Seongnam-si,Seongnam neighbors gathering,5,True
26,Seoul,Seocho-gu,Seocho Family,5,True
58,Gwangju,Dong-gu,Gwangneuksa Temple,5,True
21,Seoul,from other city,Guri Collective Infection,5,True
144,Jeollanam-do,-,etc,4,False
172,Jeju-do,-,etc,4,False
143,Jeollanam-do,-,contact with patient,4,False
30,Seoul,from other city,Yongin Brothers,4,True
114,Gangwon-do,Wonju-si,Wonju-si Apartments,4,True
28,Seoul,Gangnam-gu,Samsung Fire & Marine Insurance,4,True
115,Gangwon-do,from other city,Richway,4,True
42,Busan,Jin-gu,Jin-gu Academy,4,True
43,Busan,from other city,Itaewon Clubs,4,True
116,Gangwon-do,from other city,Geumcheon-gu rice milling machine manufacture,4,True
73,Daejeon,Seo-gu,Dreaming Church,4,True
82,Ulsan,-,contact with patient,3,False
88,Sejong,-,contact with patient,3,False
23,Seoul,Yeongdeungpo-gu,Yeongdeungpo Learning Institute,3,True
164,Gyeongsangnam-do,Yangsan-si,Soso Seowon,3,True
31,Seoul,Jung-gu,Seoul City Hall Station safety worker,3,True
130,Chungcheongnam-do,from other city,Richway,3,True
74,Daejeon,Seo-gu,Korea Forest Engineer Institute,3,True
131,Chungcheongnam-do,from other city,Eunpyeong-Boksagol culture center,3,True
136,Jeollabuk-do,from other city,Door-to-door sales in Daejeon,3,True
34,Seoul,Guro-gu,Daezayeon Korea,3,True
25,Seoul,Yangcheon-gu,Biblical Language study meeting,3,True
133,Chungcheongnam-do,-,contact with patient,2,False
32,Seoul,from other city,Uiwang Logistics Center,2,True
66,Incheon,from other city,Shincheonji Church,2,True
75,Daejeon,from other city,Shincheonji Church,2,True
76,Daejeon,from other city,Seosan-si Laboratory,2,True
166,Gyeongsangnam-do,from other city,Onchun Church,2,True
140,Jeollanam-do,Muan-gun,Manmin Central Church,2,True
53,Daegu,from other city,Itaewon Clubs,2,True
135,Jeollabuk-do,from other city,Itaewon Clubs,2,True
165,Gyeongsangnam-do,from other city,Itaewon Clubs,2,True
122,Chungcheongbuk-do,from other city,Guro-gu Call Center,2,True
54,Daegu,from other city,Cheongdo Daenam Hospital,2,True
62,Gwangju,-,etc,1,False
89,Sejong,-,etc,1,False
86,Sejong,from other city,Shincheonji Church,1,True
137,Jeollabuk-do,from other city,Shincheonji Church,1,True
141,Jeollanam-do,from other city,Shincheonji Church,1,True
33,Seoul,-,Orange Life,1,True
173,Jeju-do,from other city,Itaewon Clubs,1,True
24,Seoul,Gangnam-gu,Gangnam Dongin Church,1,True
18,Seoul,from other city,Daejeon door-to-door sales,1,True
44,Busan,from other city,Cheongdo Daenam Hospital,1,True
27,Seoul,from other city,Anyang Gunpo Pastors Group,1,True
118,Gangwon-do,-,contact with patient,0,False
171,Jeju-do,-,contact with patient,0,False
29,Seoul,Gangseo-gu,SJ Investment Call Center,0,True

## Population

In [44]:
population = population[
    ["Province", "City", "Kindergarten", "Elementary", "University", "Nursing Home", "Academy", "Elderly", "Elderly Alone"]
]
pd.set_option("max_rows", None)
# case.sort_values(['Confirmed', 'Location'], ascending=[False, False])
population

,Province,City,Kindergarten,Elementary,University,Nursing Home,Academy,Elderly,Elderly Alone
0,Seoul,Seoul,830,607,48,22739,1.44,15.38,5.8
1,Seoul,Gangnam-gu,38,33,0,3088,4.18,13.17,4.3
2,Seoul,Gangdong-gu,32,27,0,1023,1.54,14.55,5.4
3,Seoul,Gangbuk-gu,21,14,0,628,0.67,19.49,8.5
4,Seoul,Gangseo-gu,56,36,1,1080,1.17,14.39,5.7
5,Seoul,Gwanak-gu,33,22,1,909,0.89,15.12,4.9
6,Seoul,Gwangjin-gu,33,22,3,723,1.16,13.75,4.8
7,Seoul,Guro-gu,34,26,3,741,1.00,16.21,5.7
8,Seoul,Geumcheon-gu,19,18,0,475,0.96,16.15,6.7
9,Seoul,Nowon-gu,66,42,6,952,1.39,15.40,7.4
10,Seoul,Dobong-gu,26,23,1,485,0.95,17.89,7.2
11,Seoul,Dongdaemun-gu,31,21,4,832,1.06,17.26,6.7
12,Seoul,Dongjak-gu,34,21,3,762,1.17,15.85,5.2
13,Seoul,Mapo-gu,24,22,2,929,1.83,14.05,4.9
14,Seoul,Seodaemun-gu,25,19,6,587,1.12,16.77,6.2
15,Seoul,Seocho-gu,27,24,1,1465,2.60,13.39,3.8
16,Seoul,Seongdong-gu,30,21,2,593,0.97,14.76,5.3
17,Seoul,Seongbuk-gu,49,29,6,729,1.02,16.15,6.0
18,Seoul,Songpa-gu,51,40,1,1527,1.65,13.10,4.1
19,Seoul,Yangcheon-gu,43,30,0,816,2.26,13.55,5.5
20,Seoul,Yeongdeungpo-gu,39,23,0,1001,1.21,15.60,5.8
21,Seoul,Yongsan-gu,13,15,1,435,0.68,16.87,6.5
22,Seoul,Eunpyeong-gu,44,31,1,874,1.09,17.00,6.5
23,Seoul,Jongno-gu,17,13,3,668,1.71,18.27,6.8
24,Seoul,Jung-gu,14,12,2,728,0.94,18.42,7.4
25,Seoul,Jungnang-gu,31,23,1,689,0.70,16.65,6.9
26,Busan,Busan,408,304,22,6752,1.40,18.41,8.6
27,Busan,Gangseo-gu,21,17,0,147,1.43,11.84,5.0
28,Busan,Geumjeong-gu,28,22,4,466,1.64,19.80,8.4
29,Busan,Gijang-gun,35,21,0,229,1.31,15.45,7.4
30,Busan,Nam-gu,27,21,4,475,1.24,19.13,7.9
31,Busan,Dong-gu,9,7,0,239,0.83,25.42,13.8
32,Busan,Dongnae-gu,31,22,0,608,1.98,17.53,7.7
33,Busan,Busanjin-gu,43,32,3,986,1.62,19.01,8.7
34,Busan,Buk-gu,37,27,1,465,1.35,16.04,8.4
35,Busan,Sasang-gu,31,21,3,317,0.78,17.00,8.1
36,Busan,Saha-gu,42,26,2,541,1.34,17.76,8.1
37,Busan,Seo-gu,9,11,0,235,1.02,24.36,12.3
38,Busan,Suyeong-gu,22,10,0,395,1.56,20.40,8.2
39,Busan,Yeonje-gu,18,16,2,450,1.39,18.27,7.8
40,Busan,Yeongdo-gu,12,14,2,203,0.69,26.13,13.3
41,Busan,Jung-gu,4,4,0,182,1.36,26.00,13.0
42,Busan,Haeundae-gu,39,33,1,814,1.63,16.53,7.9
43,Daegu,Daegu,355,229,11,5083,1.62,15.78,7.5
44,Daegu,Nam-gu,15,11,2,345,0.85,22.49,10.4
45,Daegu,Dalseo-gu,78,55,3,1064,1.72,13.56,6.5
46,Daegu,Dalseong-gun,47,32,1,361,1.51,12.11,5.4
47,Daegu,Dong-gu,58,32,0,649,1.15,18.81,9.0
48,Daegu,Buk-gu,73,38,4,748,1.43,13.95,6.3
49,Daegu,Seo-gu,23,17,0,374,0.83,21.29,10.1
50,Daegu,Suseong-gu,49,34,1,948,2.28,15.00,6.9
51,Daegu,Jung-gu,12,10,0,594,4.03,20.29,9.6
52,Gwangju,Gwangju,312,155,17,2852,2.38,13.57,6.4
53,Gwangju,Gwangsan-gu,90,45,4,640,2.32,9.10,4.6
54,Gwangju,Nam-gu,44,23,4,427,2.63,16.76,7.5
55,Gwangju,Dong-gu,18,11,3,327,2.88,21.59,8.8
56,Gwangju,Buk-gu,105,46,6,782,2.13,14.35,6.9
57,Gwangju,Seo-gu,55,30,0,676,2.50,13.52,6.1
58,Incheon,Incheon,403,250,7,4497,1.27,13.20,5.8
59,Incheon,Ganghwa-gun,19,20,1,107,0.68,31.97,13.9
60,Incheon,Gyeyang-gu,36,26,2,477,1.25,11.81,5.2
61,Incheon,Michuhol-gu,43,29,2,643,0.90,16.29,6.8
62,Incheon,Namdong-gu,77,38,0,955,1.39,12.68,5.5
63,Incheon,Dong-gu,12,8,1,122,0.68,21.62,10.5
64,Incheon,Bupyeong-gu,66,42,0,847,1.27,13.83,6.2
65,Incheon,Seo-gu,80,44,0,670,1.40,10.02,3.9
66,Incheon,Yeonsu-gu,43,23,1,467,1.77,9.48,4.0
67,Incheon,Ongjin-gun,10,6,0,32,0.19,25.35,11.1
68,Incheon,Jung-gu,17,14,0,177,0.80,14.14,6.7
69,Daejeon,Daejeon,260,148,15,2984,1.49,13.65,5.8
70,Daejeon,Daedeok-gu,29,21,2,310,1.35,14.97,6.9
71,Daejeon,Dong-gu,35,23,4,447,0.93,18.16,8.1
72,Daejeon,Seo-gu,78,39,3,1123,1.81,12.05,4.9
73,Daejeon,Yuseong-gu,75,38,5,586,1.54,9.04,3.3
74,Daejeon,Jung-gu,43,27,1,518,1.43,18.39,8.2
75,Ulsan,Ulsan,200,119,4,1801,2.21,11.76,5.2
76,Ulsan,Nam-gu,44,30,1,765,3.23,11.42,4.8
77,Ulsan,Dong-gu,25,16,1,242,1.73,11.68,4.4
78,Ulsan,Buk-gu,45,22,0,211,1.73,7.69,3.4
79,Ulsan,Ulju-gun,49,30,2,260,1.74,13.94,6.7
80,Ulsan,Jung-gu,37,21,0,323,2.03,14.15,6.5
81,Sejong,Sejong,60,48,3,491,1.78,9.48,3.8
82,Gyeonggi-do,Gyeonggi-do,2237,1277,61,20491,1.60,12.63,5.2
83,Gyeonggi-do,Gapyeong-gun,14,13,0,114,0.88,25.09,12.0
84,Gyeonggi-do,Goyang-si,171,84,2,1608,1.88,12.82,5.2
85,Gyeonggi-do,Gwacheon-si,7,4,0,92,1.36,13.98,5.7
86,Gyeonggi-do,Gwangmyeong-si,48,25,0,530,1.73,13.25,5.8
87,Gyeonggi-do,Gwangju-si,42,27,2,406,1.09,12.65,4.0
88,Gyeonggi-do,Guri-si,30,16,0,418,1.94,12.88,5.1
89,Gyeonggi-do,Gunpo-si,49,26,1,429,1.58,12.42,5.4
90,Gyeonggi-do,Gimpo-si,90,43,2,604,1.74,12.10,4.4
91,Gyeonggi-do,Namyangju-si,110,64,1,912,1.38,13.44,5.0
92,Gyeonggi-do,Dongducheon-si,19,11,1,140,1.03,19.56,9.7
93,Gyeonggi-do,Bucheon-si,124,64,4,1432,1.51,12.77,5.4
94,Gyeonggi-do,Seongnam-si,127,72,3,2095,2.08,13.52,5.6
95,Gyeonggi-do,Suwon-si,192,99,4,2082,1.72,10.50,4.5
96,Gyeonggi-do,Siheung-si,74,46,2,622,1.55,8.86,3.8
97,Gyeonggi-do,Ansan-si,94,54,4,1024,1.49,10.35,4.6
98,Gyeonggi-do,Anseong-si,51,35,3,271,1.27,16.95,7.2
99,Gyeonggi-do,Anyang-si,79,41,4,1099,1.86,12.88,5.1
100,Gyeonggi-do,Yangju-si,48,33,1,252,1.16,15.23,6.3
101,Gyeonggi-do,Yangpyeong-gun,25,22,1,178,0.78,24.66,11.1
102,Gyeonggi-do,Yeoju-si,34,23,1,191,1.00,21.05,8.8
103,Gyeonggi-do,Yeoncheon-gun,13,13,0,69,0.82,25.41,12.7
104,Gyeonggi-do,Osan-si,50,23,2,314,1.25,9.09,3.6
105,Gyeonggi-do,Yongin-si,169,103,7,1429,1.82,12.77,4.1
106,Gyeonggi-do,Uiwang-si,24,14,1,189,1.09,12.99,5.0
107,Gyeonggi-do,Uijeongbu-si,62,33,1,729,1.59,14.61,6.4
108,Gyeonggi-do,Icheon-si,51,31,2,333,1.76,13.71,5.8
109,Gyeonggi-do,Paju-si,98,57,1,573,1.34,13.52,5.3
110,Gyeonggi-do,Pyeongtaek-si,108,58,3,765,1.39,12.13,5.6
111,Gyeonggi-do,Pocheon-si,33,31,2,209,0.89,18.92,8.2
112,Gyeonggi-do,Hanam-si,34,20,0,381,1.16,12.43,4.8
113,Gyeonggi-do,Hwaseong-si,167,92,6,1001,1.72,8.58,3.3
114,Gangwon-do,Gangwon-do,368,349,18,2519,1.42,19.89,9.8
115,Gangwon-do,Gangneung-si,36,34,4,347,1.90,20.46,9.6
116,Gangwon-do,Goseong-gun,11,13,1,41,0.48,28.53,14.6
117,Gangwon-do,Donghae-si,17,14,0,140,1.60,19.41,10.1
118,Gangwon-do,Samcheok-si,17,19,0,94,1.01,24.26,13.0
119,Gangwon-do,Sokcho-si,11,12,0,165,1.54,18.33,9.7
120,Gangwon-do,Yanggu-gun,9,10,0,33,1.01,20.38,9.9
121,Gangwon-do,Yangyang-gun,15,13,0,37,0.69,28.92,14.6
122,Gangwon-do,Yeongwol-gun,15,13,1,56,0.87,28.54,15.4
123,Gangwon-do,Wonju-si,71,50,4,597,1.71,14.46,6.7
124,Gangwon-do,Inje-gun,15,13,0,46,0.88,19.88,10.4
125,Gangwon-do,Jeongseon-gun,15,16,0,53,0.67,26.79,13.9
126,Gangwon-do,Cheorwon-gun,12,16,0,70,1.14,21.80,11.1
127,Gangwon-do,Chuncheon-si,43,40,5,472,1.50,17.10,7.6
128,Gangwon-do,Taebaek-si,12,12,1,64,1.16,23.88,12.8
129,Gangwon-do,Pyeongchang-gun,16,19,0,84,0.81,27.04,13.7
130,Gangwon-do,Hongcheon-gun,26,26,0,115,1.14,25.28,12.6
131,Gangwon-do,Hwacheon-gun,14,13,0,36,0.72,21.75,11.2
132,Gangwon-do,Hoengseong-gun,13,16,2,69,0.97,28.22,13.3
133,Chungcheongbuk-do,Chungcheongbuk-do,328,259,17,2769,1.39,17.28,8.5
134,Chungcheongbuk-do,Goesan-gun,15,14,1,64,0.36,33.01,16.5
135,Chungcheongbuk-do,Danyang-gun,11,11,0,52,0.50,29.52,15.8
136,Chungcheongbuk-do,Boeun-gun,16,15,0,74,0.67,33.46,18.4
137,Chungcheongbuk-do,Yeongdong-gun,14,14,1,108,0.94,30.32,16.1
138,Chungcheongbuk-do,Okcheon-gun,17,12,1,107,0.63,28.83,14.9
139,Chungcheongbuk-do,Eumseong-gun,24,21,2,169,0.88,20.33,9.2
140,Chungcheongbuk-do,Jecheon-si,35,24,2,245,1.31,20.92,10.5
141,Chungcheongbuk-do,Jeungpyeong-gun,5,4,0,62,1.39,16.59,8.7
142,Chungcheongbuk-do,Jincheon-gun,16,15,0,121,1.15,16.16,8.3
143,Chungcheongbuk-do,Cheongju-si,131,92,8,1420,1.67,12.82,6.0
144,Chungcheongbuk-do,Chungju-si,44,37,2,347,1.39,19.07,9.0
145,Chungcheongnam-do,Chungcheongnam-do,499,409,21,3641,1.38,18.40,8.9
146,Chungcheongnam-do,Gyeryong-si,8,5,0,61,1.30,11.30,5.1
147,Chungcheongnam-do,Gongju-si,34,28,2,221,1.16,25.20,11.7
148,Chungcheongnam-do,Geumsan-gun,16,16,1,119,0.67,30.15,14.8
149,Chungcheongnam-do,Nonsan-si,32,33,2,262,1.03,25.54,13.4
150,Chungcheongnam-do,Dangjin-si,35,30,1,265,1.20,18.14,7.9
151,Chungcheongnam-do,Boryeong-si,33,29,1,186,1.23,25.04,12.6
152,Chungcheongnam-do,Buyeo-gun,27,24,1,137,0.79,33.30,17.4
153,Chungcheongnam-do,Seosan-si,39,29,1,261,1.30,18.01,8.4
154,Chungcheongnam-do,Seocheon-gun,18,18,0,116,0.97,35.25,18.9
155,Chungcheongnam-do,Asan-si,60,46,3,435,1.29,12.89,6.1
156,Chungcheongnam-do,Yesan-gun,26,24,0,156,0.95,30.27,14.5
157,Chungcheongnam-do,Cheonan-si,112,75,6,1069,1.91,10.42,4.5
158,Chungcheongnam-do,Cheongyang-gun,13,12,1,62,0.60,34.51,18.0
159,Chungcheongnam-do,Taean-gun,20,19,0,112,0.83,29.98,13.8
160,Chungcheongnam-do,Hongseong-gun,26,21,2,179,1.35,23.11,11.3
161,Jeollabuk-do,Jeollabuk-do,519,419,19,3774,2.12,20.60,10.9
162,Jeollabuk-do,Gochang-gun,22,21,0,123,0.95,33.33,20.6
163,Jeollabuk-do,Gunsan-si,67,56,5,494,2.04,18.07,8.8
164,Jeollabuk-do,Gimje-si,40,36,0,188,1.11,30.89,17.9
165,Jeollabuk-do,Namwon-si,28,27,0,186,1.42,27.25,16.3
166,Jeollabuk-do,Muju-gun,9,10,0,53,0.74,32.71,18.7
167,Jeollabuk-do,Buan-gun,25,22,0,118,0.99,32.20,19.1
168,Jeollabuk-do,Sunchang-gun,15,15,0,72,0.70,32.97,20.2
169,Jeollabuk-do,Wanju-gun,37,29,3,170,1.52,22.38,9.8
170,Jeollabuk-do,Iksan-si,83,60,2,556,2.18,18.85,9.3
171,Jeollabuk-do,Imsil-gun,14,15,1,79,0.55,34.82,20.1
172,Jeollabuk-do,Jangsu-gun,8,8,0,44,0.58,32.87,19.1
173,Jeollabuk-do,Jeonju-si,120,73,7,1381,3.02,14.40,6.8
174,Jeollabuk-do,Jeongeup-si,39,34,1,256,1.64,26.92,15.9
175,Jeollabuk-do,Jinan-gun,12,13,0,54,0.39,33.80,19.5
176,Jeollanam-do,Jeollanam-do,542,429,19,3389,1.45,22.81,13.5
177,Jeollanam-do,Gangjin-gun,14,14,0,71,0.79,33.87,21.7
178,Jeollanam-do,Goheung-gun,21,17,0,141,0.71,40.04,24.5
179,Jeollanam-do,Gokseong-gun,8,8,1,70,0.87,35.16,22.5
180,Jeollanam-do,Gwangyang-si,37,28,2,210,1.63,12.65,6.8
181,Jeollanam-do,Gurye-gun,12,10,0,57,0.79,33.30,19.4
182,Jeollanam-do,Naju-si,30,24,3,214,1.40,22.16,13.2
183,Jeollanam-do,Damyang-gun,15,14,1,98,0.28,30.27,16.3
184,Jeollanam-do,Mokpo-si,55,33,3,406,2.11,15.88,8.8
185,Jeollanam-do,Muan-gun,21,18,2,141,2.12,20.82,11.8
186,Jeollanam-do,Boseong-gun,19,17,0,98,0.65,37.43,23.8
187,Jeollanam-do,Suncheon-si,61,42,3,452,1.94,15.20,8.3
188,Jeollanam-do,Sinan-gun,22,19,0,77,0.20,35.18,21.0
189,Jeollanam-do,Yeosu-si,73,50,1,471,1.85,18.59,9.5
190,Jeollanam-do,Yeonggwang-gun,15,13,1,116,1.24,28.40,17.3
191,Jeollanam-do,Yeongam-gun,18,16,2,100,0.82,25.99,15.6
192,Jeollanam-do,Wando-gun,24,21,0,96,0.65,31.55,17.9
193,Jeollanam-do,Jangseong-gun,16,13,0,80,0.83,28.75,16.8
194,Jeollanam-do,Jangheung-gun,16,15,0,80,0.67,33.21,21.6
195,Jeollanam-do,Jindo-gun,13,10,0,68,0.78,32.97,22.0
196,Jeollanam-do,Hampyeong-gun,12,11,0,76,0.49,35.45,22.0
197,Jeollanam-do,Haenam-gun,21,20,0,135,0.91,31.45,20.0
198,Jeollanam-do,Hwasun-gun,19,16,0,132,1.32,26.14,17.4
199,Gyeongsangbuk-do,Gyeongsangbuk-do,707,471,33,4474,1.33,20.85,11.1
200,Gyeongsangbuk-do,Gyeongsan-si,61,31,10,427,1.34,16.18,7.0
201,Gyeongsangbuk-do,Gyeongju-si,61,43,4,407,1.34,21.66,11.0
202,Gyeongsangbuk-do,Goryeong-gun,9,9,0,62,0.62,30.17,15.9
203,Gyeongsangbuk-do,Gumi-si,104,50,3,616,1.96,9.08,4.3
204,Gyeongsangbuk-do,Gunwi-gun,8,7,0,41,0.25,38.87,21.6
205,Gyeongsangbuk-do,Gimcheon-si,37,27,2,212,0.89,22.35,12.2
206,Gyeongsangbuk-do,Mungyeong-si,26,17,1,147,1.18,29.25,17.1
207,Gyeongsangbuk-do,Bonghwa-gun,17,14,0,47,0.37,35.26,20.0
208,Gyeongsangbuk-do,Sangju-si,35,28,0,186,1.03,30.09,17.3
209,Gyeongsangbuk-do,Seongju-gun,15,12,0,84,0.59,30.89,15.9
210,Gyeongsangbuk-do,Andong-si,42,30,3,290,1.57,23.95,12.4
211,Gyeongsangbuk-do,Yeongdeok-gun,11,9,0,81,0.75,36.45,22.3
212,Gyeongsangbuk-do,Yeongyang-gun,8,6,0,24,0.35,36.36,21.1
213,Gyeongsangbuk-do,Yeongju-si,26,19,2,191,1.61,26.22,13.2
214,Gyeongsangbuk-do,Yeongcheon-si,23,18,1,192,0.83,27.32,15.3
215,Gyeongsangbuk-do,Yecheon-gun,15,12,1,97,1.09,29.79,18.4
216,Gyeongsangbuk-do,Ulleung-gun,6,4,0,11,0.21,24.81,10.7
217,Gyeongsangbuk-do,Uljin-gun,16,13,0,83,1.01,27.30,17.6
218,Gyeongsangbuk-do,Uiseong-gun,16,16,0,108,0.32,40.26,23.7
219,Gyeongsangbuk-do,Cheongdo-gun,14,11,0,85,0.63,36.55,21.0
220,Gyeongsangbuk-do,Cheongsong-gun,8,8,0,55,0.51,36.08,19.4
221,Gyeongsangbuk-do,Chilgok-gun,32,21,2,151,1.48,15.17,6.7
222,Gyeongsangbuk-do,Pohang-si,117,66,4,877,1.51,16.44,8.0
223,Gyeongsangnam-do,Gyeongsangnam-do,686,501,21,5364,1.78,16.51,9.1
224,Gyeongsangnam-do,Geoje-si,58,38,1,317,1.76,10.22,4.7
225,Gyeongsangnam-do,Geochang-gun,16,17,2,127,1.25,27.01,17.4
226,Gyeongsangnam-do,Goseong-gun,18,19,0,89,1.30,30.17,18.2
227,Gyeongsangnam-do,Gimhae-si,91,58,4,711,2.10,10.74,5.3
228,Gyeongsangnam-do,Namhae-gun,10,13,1,88,1.03,36.92,23.3
229,Gyeongsangnam-do,Miryang-si,25,21,0,178,1.39,27.31,16.3
230,Gyeongsangnam-do,Sacheon-si,20,18,0,191,1.84,21.17,11.7
231,Gyeongsangnam-do,Sancheong-gun,11,13,0,72,0.65,35.42,20.6
232,Gyeongsangnam-do,Yangsan-si,68,37,2,507,1.59,12.92,6.2
233,Gyeongsangnam-do,Uiryeong-gun,10,13,0,60,0.63,35.95,24.2
234,Gyeongsangnam-do,Jinju-si,53,45,6,597,2.49,16.27,8.6
235,Gyeongsangnam-do,Changnyeong-gun,20,17,0,129,0.80,29.80,18.4
236,Gyeongsangnam-do,Changwon-si,195,110,5,1701,1.84,13.64,6.5
237,Gyeongsangnam-do,Tongyeong-si,29,20,0,230,1.70,18.47,9.8
238,Gyeongsangnam-do,Hadong-gun,15,16,0,94,0.84,32.89,19.1
239,Gyeongsangnam-do,Haman-gun,20,16,0,94,1.19,23.74,14.7
240,Gyeongsangnam-do,Hamyang-gun,12,13,0,83,1.01,32.65,20.9
241,Gyeongsangnam-do,Hapcheon-gun,15,17,0,96,0.71,38.44,24.7
242,Jeju-do,Jeju-do,123,113,4,1245,1.53,15.10,6.4

## Test

# Conclusions

# Recommendations

# Suggestions for Improvement