# COVID 19

# Introduction

# Goals

# Technical Requirements

# Libraries

In [22]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

sns.set_palette("pastel")

# Loading and Basic Information

In [77]:
pd.set_option("display.max.columns", None)

## Age

In [114]:
age = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\\age.csv",
    index_col=False,
    skipinitialspace=True,
)

### Number of Rows and Columns

In [115]:
age.shape

(1089, 5)

### First Five Rows

In [116]:
age.head()

       date  time  age  confirmed  deceased
0  3/2/2020     0   0s         32         0
1  3/2/2020     0  10s        169         0
2  3/2/2020     0  20s       1235         0
3  3/2/2020     0  30s        506         1
4  3/2/2020     0  40s        633         1

### Data Types

In [110]:
age.dtypes

date         object
time          int64
age          object
confirmed     int64
deceased      int64
dtype: object

## Gender

In [82]:
gender = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\gender.csv",
    index_col=False,
    skipinitialspace=True,
)

### Number of Rows and Columns

In [83]:
gender.shape

(242, 5)

### First Five Rows

In [84]:
gender.head()

       date  time     sex  confirmed  deceased
0  3/2/2020     0    male       1591        13
1  3/2/2020     0  female       2621         9
2  3/3/2020     0    male       1810        16
3  3/3/2020     0  female       3002        12
4  3/4/2020     0    male       1996        20

### Data Types

In [85]:
gender.dtypes

date         object
time          int64
sex          object
confirmed     int64
deceased      int64
dtype: object

## Province

In [86]:
province = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\province.csv",
    index_col=False,
    skipinitialspace=True,
)

### Number of Rows and Columns

In [87]:
province.shape

(2771, 6)

### First Five Rows

In [88]:
province.head()

        date  time province  confirmed  released  deceased
0  1/20/2020    16    Seoul          0         0         0
1  1/20/2020    16    Busan          0         0         0
2  1/20/2020    16    Daegu          0         0         0
3  1/20/2020    16  Incheon          1         0         0
4  1/20/2020    16  Gwangju          0         0         0

### Data Types

In [89]:
province.dtypes

date         object
time          int64
province     object
confirmed     int64
released      int64
deceased      int64
dtype: object

## Patient

In [90]:
patient = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\patient.csv",
    index_col=False,
    skipinitialspace=True,
)

### Number of Rows and Columns

In [91]:
patient.shape

(5165, 14)

### First Five Rows

In [92]:
patient.head()

,ID,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,75,1/22/2020,1/23/2020,2/5/2020,NaN,released
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,31,NaN,1/30/2020,3/2/2020,NaN,released
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2002000001,17,NaN,1/30/2020,2/19/2020,NaN,released
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,NaN,9,1/26/2020,1/30/2020,2/15/2020,NaN,released
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000002,2,NaN,1/31/2020,2/24/2020,NaN,released

### Data Types

In [93]:
patient.dtypes

ID                     int64
sex                   object
age                   object
country               object
province              object
city                  object
infection_case        object
infected_by           object
contact_number        object
symptom_onset_date    object
confirmed_date        object
released_date         object
deceased_date         object
state                 object
dtype: object

## Case

In [43]:
case = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\case.csv",
    index_col=False,
    skipinitialspace=True,
)

### Number of Rows and Columns

In [94]:
case.shape

(174, 5)

### First Five Rows

In [92]:
case.head()

,ID,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,75,1/22/2020,1/23/2020,2/5/2020,NaN,released
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,31,NaN,1/30/2020,3/2/2020,NaN,released
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2002000001,17,NaN,1/30/2020,2/19/2020,NaN,released
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,NaN,9,1/26/2020,1/30/2020,2/15/2020,NaN,released
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000002,2,NaN,1/31/2020,2/24/2020,NaN,released

### Data Types

In [95]:
case.dtypes

Province     object
City         object
Group          bool
Location     object
Confirmed     int64
dtype: object

## Population

In [96]:
population = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\population.csv",
    index_col=False,
    skipinitialspace=True,
)

### Number of Rows and Columns

In [97]:
population.shape

(243, 12)

### First Five Rows

In [98]:
population.head()

,code,province,city,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,10000,Seoul,Seoul,37.566953,126.977977,607,830,48,1.44,15.38,5.8,22739
1,10010,Seoul,Gangnam-gu,37.518421,127.047222,33,38,0,4.18,13.17,4.3,3088
2,10020,Seoul,Gangdong-gu,37.530492,127.123837,27,32,0,1.54,14.55,5.4,1023
3,10030,Seoul,Gangbuk-gu,37.639938,127.025508,14,21,0,0.67,19.49,8.5,628
4,10040,Seoul,Gangseo-gu,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080

### Data Types

In [99]:
population.dtypes

code                          int64
province                     object
city                         object
latitude                    float64
longitude                   float64
elementary_school_count       int64
kindergarten_count            int64
university_count              int64
academy_ratio               float64
elderly_population_ratio    float64
elderly_alone_ratio         float64
nursing_home_count            int64
dtype: object

## Test

In [61]:
test = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\\test.csv",
    index_col=False,
    skipinitialspace=True,
)

### Number of Rows and Columns

In [94]:
test.shape

(174, 5)

### First Five Rows

In [92]:
test.head()

,ID,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,75,1/22/2020,1/23/2020,2/5/2020,NaN,released
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,31,NaN,1/30/2020,3/2/2020,NaN,released
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2002000001,17,NaN,1/30/2020,2/19/2020,NaN,released
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,NaN,9,1/26/2020,1/30/2020,2/15/2020,NaN,released
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000002,2,NaN,1/31/2020,2/24/2020,NaN,released

### Data Types

In [95]:
test.dtypes

Province     object
City         object
Group          bool
Location     object
Confirmed     int64
dtype: object

## Weather

In [100]:
weather = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\\weather.csv",
    index_col=False,
    skipinitialspace=True,
)

### Number of Rows and Columns

In [101]:
weather.shape

(26271, 10)

### First Five Rows

In [102]:
weather.head()

,code,province,date,avg_temp,min_temp,max_temp,precipitation,max_wind_speed,most_wind_direction,avg_relative_humidity
0,10000,Seoul,2016-01-01,1.2,-3.3,4.0,0.0,3.5,90.0,73.0
1,11000,Busan,2016-01-01,5.3,1.1,10.9,0.0,7.4,340.0,52.1
2,12000,Daegu,2016-01-01,1.7,-4.0,8.0,0.0,3.7,270.0,70.5
3,13000,Gwangju,2016-01-01,3.2,-1.5,8.1,0.0,2.7,230.0,73.1
4,14000,Incheon,2016-01-01,3.1,-0.4,5.7,0.0,5.3,180.0,83.9

### Data Types

In [103]:
weather.dtypes

code                       int64
province                  object
date                      object
avg_temp                 float64
min_temp                 float64
max_temp                 float64
precipitation            float64
max_wind_speed           float64
most_wind_direction      float64
avg_relative_humidity    float64
dtype: object

# Data Cleaning

## Age Dataset

### Dropping Unneeded Columns

In [117]:
age = age.drop(["time"], axis=1)

### Renaming Columns

In [118]:
age.rename(
    columns={
        "date": "Date",
        "age": "Age",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)
age.head()

       Date  Age  Confirmed  Deceased
0  3/2/2020   0s         32         0
1  3/2/2020  10s        169         0
2  3/2/2020  20s       1235         0
3  3/2/2020  30s        506         1
4  3/2/2020  40s        633         1

## Gender

In [30]:
gender = gender.drop(["time"], axis=1)

In [32]:
gender.rename(
    columns={
        "date": "Date",
        "sex": "Sex",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)

gender.head()

       Date     Sex  Confirmed  Deceased
0  3/2/2020    male       1591        13
1  3/2/2020  female       2621         9
2  3/3/2020    male       1810        16
3  3/3/2020  female       3002        12
4  3/4/2020    male       1996        20

## Province

In [38]:
province = province.drop(["time", "released"], axis=1)

In [39]:
province.rename(
    columns={
        "date": "Date",
        "province": "Province",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)
province.head()

        Date Province  Confirmed  Deceased
0  1/20/2020    Seoul          0         0
1  1/20/2020    Busan          0         0
2  1/20/2020    Daegu          0         0
3  1/20/2020  Incheon          1         0
4  1/20/2020  Gwangju          0         0

## Patient

In [41]:
patient = patient.drop(
    [
        "country",
        "province",
        "city",
        "symptom_onset_date",
        "confirmed_date",
        "released_date",
        "deceased_date",
        "state",
        "infected_by",
        "contact_number",
        "ID"
    ],
    axis=1,
)

In [42]:
patient.rename(
    columns={
        "sex": "Sex",
        "age": "Age",
        "infection_case": "Location",      
    },
    inplace=True,
)
patient.head()

      Sex  Age              Location
0    male  50s       overseas inflow
1    male  30s       overseas inflow
2    male  50s  contact with patient
3    male  20s       overseas inflow
4  female  20s  contact with patient

## Case

In [44]:
case = case.drop(["case_id", "latitude", "longitude"], axis=1)

In [45]:
case.rename(
    columns={
        "province": "Province",
        "city": "City",
        "group": "Group",
        "infection_case": "Location",
        "confirmed": "Confirmed",
        
    },
    inplace=True,
)
case.head()

  Province          City  Group                     Location  Confirmed
0    Seoul    Yongsan-gu   True                Itaewon Clubs        139
1    Seoul     Gwanak-gu   True                      Richway        119
2    Seoul       Guro-gu   True          Guro-gu Call Center         95
3    Seoul  Yangcheon-gu   True  Yangcheon Table Tennis Club         43
4    Seoul     Dobong-gu   True              Day Care Center         43

## Population

In [59]:
population = population.drop(["code", "latitude", "longitude"], axis=1)

In [60]:
population.rename(
    columns={
        "province": "Province",
        "city": "City",
        "elementary_school_count": "Elementary",
        "kindergarten_count": "Kindergarten",
        "university_count": "University",
        "academy_ratio": "Academy",
        "elderly_population_ratio": "Elderly",
        "elderly_alone_ratio": "Elderly Alone",
        "nursing_home_count": "Nursing Home"    
    },
    inplace=True,
)

population.head()

,Province,City,Elementary,Kindergarten,University,Academy,Elderly,Elderly Alone,Nursing Home
0,Seoul,Seoul,607,830,48,1.44,15.38,5.8,22739
1,Seoul,Gangnam-gu,33,38,0,4.18,13.17,4.3,3088
2,Seoul,Gangdong-gu,27,32,0,1.54,14.55,5.4,1023
3,Seoul,Gangbuk-gu,14,21,0,0.67,19.49,8.5,628
4,Seoul,Gangseo-gu,36,56,1,1.17,14.39,5.7,1080

## Test

In [50]:
test = test.drop(["time"], axis=1)

In [51]:
test.rename(
    columns={
        "date": "Date",
        "test": "Test",
        "negative": "Negative",
        "confirmed": "Confirmed",
        "released": "Released",
        "deceased": "Deceased"   
    },
    inplace=True,
)

test.head()

        Date  Test  Negative  Confirmed  Released  Deceased
0  1/20/2020     1         0          1         0         0
1  1/21/2020     1         0          1         0         0
2  1/22/2020     4         3          1         0         0
3  1/23/2020    22        21          1         0         0
4  1/24/2020    27        25          2         0         0

## Weather

In [55]:
weather = weather.drop(["code", "most_wind_direction"], axis=1)

In [57]:
weather.rename(
    columns={
        "province": "Province",
        "date": "Date",
        "avg_temp": "Avg Temp",
        "min_temp": "Min Temp",
        "max_temp": "Max Temp",
        "precipitation": "Precipitation",
        "max_wind_speed": "Max Wind Speed",
        "avg_relative_humidity": "Avg Relative Humidity"  
    },
    inplace=True,
)

weather.head()

,Province,Date,Avg Temp,Min Temp,Max Temp,Precipitation,Max Wind Speed,Avg Relative Humidity
0,Seoul,2016-01-01,1.2,-3.3,4.0,0.0,3.5,73.0
1,Busan,2016-01-01,5.3,1.1,10.9,0.0,7.4,52.1
2,Daegu,2016-01-01,1.7,-4.0,8.0,0.0,3.7,70.5
3,Gwangju,2016-01-01,3.2,-1.5,8.1,0.0,2.7,73.1
4,Incheon,2016-01-01,3.1,-0.4,5.7,0.0,5.3,83.9

# Descriptive Statistics

# Exploratory Data Analysis (EDA)

## Age

In [ ]:
groupby_age = age[['Age', 'Confirmed', 'Deceased']].groupby(['Age']).sum()

In [ ]:
groupby_age["Percentage"] = (
    groupby_age["Deceased"] / groupby_age["Confirmed"]
) * 100
groupby_age['Percentage'] = groupby_age['Percentage'].apply('{:,.2f}'.format).astype('float64')

groupby_age.sort_values('Percentage', ascending = False)

## Gender

In [ ]:
groupby_gender = gender[['Sex', 'Confirmed', 'Deceased']].groupby(['Sex']).sum()

In [ ]:
groupby_gender["Percentage"] = (
    groupby_gender["Deceased"] / groupby_gender["Confirmed"]
) * 100
groupby_gender['Percentage'] = groupby_gender['Percentage'].apply('{:,.2f}'.format).astype('float64')
groupby_gender.sort_values('Percentage', ascending = False)

## Province

In [ ]:
groupby_province = province[['Province', 'Confirmed', 'Deceased']].groupby(['Province']).sum()

In [ ]:
groupby_province["Percentage"] = (
    groupby_province["Deceased"] / groupby_province["Confirmed"]
) * 100
groupby_province['Percentage'] = groupby_province['Percentage'].apply('{:,.2f}'.format).astype('float64')
groupby_province.sort_values('Percentage', ascending = False)

## Patient

In [ ]:
pd.reset_option('display.max_rows')
Total = patient['Location'].value_counts()
Total

## Case

In [ ]:
case = case[
    ["Province", "City", "Location", "Confirmed", "Group"]
]
pd.set_option("max_rows", None)
case.sort_values(['Confirmed', 'Location'], ascending=[False, False])

## Population

In [ ]:
population = population[
    ["Province", "City", "Kindergarten", "Elementary", "University", "Nursing Home", "Academy", "Elderly", "Elderly Alone"]
]
pd.set_option("max_rows", None)
# case.sort_values(['Confirmed', 'Location'], ascending=[False, False])
population

## Test

## Weather

# Conclusions

# Recommendations

# Suggestions for Improvement