# 01PatientCOVID19V3

# Libraries

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from IPython.display import display

sns.set_palette("pastel")

# Loading Data

In [7]:
patient = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\patient.csv",
    index_col=False,
    skipinitialspace=True,
)

# Display Data

In [8]:
pd.set_option("max_rows", None)

# Size

In [9]:
patient.shape

(5165, 14)

# Delete Unneeded Columns

In [11]:
patient = patient.drop(
    [
        "ID",
        "city",
        "infected_by",
        "contact_number",
        "symptom_onset_date",
        "released_date",
        "deceased_date",
        "state",
        "confirmed_date"
    ],
    axis=1,
)

# Rename Columns

In [12]:
patient.rename(
    columns={
        "sex": "Gender",
        "age": "Age",
        "infection_case": "Infection Reason",
        "country": "Country",
        "province": "Province",
        "city": "City",
    },
    inplace=True,
)
patient.head()

   Gender  Age Country Province      Infection Reason
0    male  50s   Korea    Seoul       overseas inflow
1    male  30s   Korea    Seoul       overseas inflow
2    male  50s   Korea    Seoul  contact with patient
3    male  20s   Korea    Seoul       overseas inflow
4  female  20s   Korea    Seoul  contact with patient

# Missing Data

In [13]:
patient.isna().sum()

Gender              1122
Age                 1380
Country                0
Province               0
Infection Reason     919
dtype: int64

In [14]:
patient.dropna(subset = ['Infection Reason'], how='any', inplace = True)

In [15]:
patient.fillna(value = "MISSING", inplace = True)
patient.isna().sum()

Gender              0
Age                 0
Country             0
Province            0
Infection Reason    0
dtype: int64

In [16]:
patient['Infection Reason'] = patient['Infection Reason'].str.replace('etc', 'MISSING')

In [17]:
patient.head()

   Gender  Age Country Province      Infection Reason
0    male  50s   Korea    Seoul       overseas inflow
1    male  30s   Korea    Seoul       overseas inflow
2    male  50s   Korea    Seoul  contact with patient
3    male  20s   Korea    Seoul       overseas inflow
4  female  20s   Korea    Seoul  contact with patient

# Delete Unneeded Data

In [18]:
patient = patient[patient.Country != "China"]

In [20]:
patient = patient.drop(
    [
        "Country",
    ],
    axis=1,
)
patient.head()

   Gender  Age Province      Infection Reason
0    male  50s    Seoul       overseas inflow
1    male  30s    Seoul       overseas inflow
2    male  50s    Seoul  contact with patient
3    male  20s    Seoul       overseas inflow
4  female  20s    Seoul  contact with patient

# Column Value Modifications

In [21]:
patient.replace('overseas inflow', 'Overseas Inflow', inplace = True)
patient.replace('contact with patient', 'Contact with Patient', inplace = True)
patient.replace('male', 'Male', inplace = True)
patient.replace('female', 'Female', inplace = True)

# Column Order Modifications

In [22]:
patient = patient[
    ["Age", "Gender", "Province", "Infection Reason"]
]
patient.head()

   Age  Gender Province      Infection Reason
0  50s    Male    Seoul       Overseas Inflow
1  30s    Male    Seoul       Overseas Inflow
2  50s    Male    Seoul  Contact with Patient
3  20s    Male    Seoul       Overseas Inflow
4  20s  Female    Seoul  Contact with Patient

# Infection Reasons

In [38]:
patient.groupby(['Infection Reason']).size().sort_values(ascending=False)

Infection Reason
Contact with Patient                             1607
Overseas Inflow                                   834
MISSING                                           703
Itaewon Clubs                                     162
Richway                                           128
Guro-gu Call Center                               112
Shincheonji Church                                106
Coupang Logistics Center                           80
Yangcheon Table Tennis Club                        44
Day Care Center                                    43
SMR Newly Planted Churches Group                   36
Onchun Church                                      33
Bonghwa Pureun Nursing Home                        31
gym facility in Cheonan                            30
Ministry of Oceans and Fisheries                   28
Wangsung Church                                    24
Cheongdo Daenam Hospital                           21
Dongan Church                                      17
Gyeongsan Seorin Nursing Home                      15
Eunpyeong St. Mary's Hospital                      15
Seongdong-gu APT                                   13
Dunsan Electronics Town                            13
KB Life Insurance                                  13
Gyeongsan Jeil Silver Town                         12
Milal Shelter                                      11
Gyeongsan Cham Joeun Community Center              10
Korea Campus Crusade of Christ                      7
Samsung Medical Center                              7
Orange Town                                         7
Geumcheon-gu rice milling machine manufacture       6
Geochang Church                                     6
Gangnam Yeoksam-dong gathering                      6
Guri Collective Infection                           5
Yeonana News Class                                  5
Seocho Family                                       5
Yongin Brothers                                     4
gym facility in Sejong                              4
Samsung Fire & Marine Insurance                     4
Changnyeong Coin Karaoke                            4
Seoul City Hall Station safety worker               3
Suyeong-gu Kindergarten                             3
Biblical Language study meeting                     3
Daezayeon Korea                                     3
Yeongdeungpo Learning Institute                     3
Pilgrimage to Israel                                2
Uiwang Logistics Center                             2
River of Grace Community Church                     1
Orange Life                                         1
Gangnam Dongin Church                               1
Daejeon door-to-door sales                          1
Anyang Gunpo Pastors Group                          1
dtype: int64