
# 05JOINWeatherTEST

# Libraries

In [24]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from IPython.display import display

sns.set_palette("pastel")

# Loading Data

In [25]:
weather = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\\weather.csv",
    parse_dates=["date"],
    index_col="date",
)

test = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\\test.csv",
    parse_dates=["date"],
    index_col="date",
)

# Display Data

In [26]:
pd.set_option("display.max.columns", None)

# Delete Unneeded Columns

In [27]:
weather = weather.drop(
    [
        "code",
        "max_wind_speed",
        "most_wind_direction",
        "min_temp",
        "max_temp"
    ],
    axis=1,
)

In [28]:
test = test.drop(["time", "released", "test", "negative", "deceased"], axis=1)

# Rename Columns

In [29]:
weather.rename(
    columns={
        "province": "Province",
        "avg_temp": "Avg Temp",
        "precipitation": "Precipitation",
        "avg_relative_humidity": "Avg Relative Humidity"
        
    },
    inplace=True,
)
weather.index.names = ['Date']

In [30]:
test.rename(
    columns={
        "confirmed": "Confirmed"  
    },
    inplace=True,
)
test.index.names = ['Date']

# Column Order

In [31]:
weather = weather[['Province', 'Avg Temp', "Precipitation", "Avg Relative Humidity"]]

# Dataset

In [32]:
weather.head()

           Province  Avg Temp  Precipitation  Avg Relative Humidity
Date
2020-01-01    Seoul      -2.2            0.0                   64.4
2020-01-01    Busan       1.9            0.0                   44.0
2020-01-01    Daegu       0.2            0.0                   53.3
2020-01-01  Gwangju      -0.3            0.0                   58.0
2020-01-01  Incheon      -1.4            0.0                   66.6

In [33]:
confirmed_by_date = test.asfreq(freq='W')
confirmed_by_date

            Confirmed
Date
2020-01-26          3
2020-02-02         15
2020-02-09         27
2020-02-16         29
2020-02-23        602
2020-03-01       3736
2020-03-08       7134
2020-03-15       8126
2020-03-22       8897
2020-03-29       9583
2020-04-05      10237
2020-04-12      10512
2020-04-19      10661
2020-04-26      10728
2020-05-03      10793
2020-05-10      10874
2020-05-17      11050
2020-05-24      11190
2020-05-31      11468
2020-06-07      11776
2020-06-14      12085
2020-06-21      12421
2020-06-28      12715

# Average Temp by Province

In [34]:
avg_temp_by_province = pd.pivot_table(
    data=weather, index="Date", columns="Province", values="Avg Temp", aggfunc="mean"
)

In [35]:
provinces_to_keep = ['Daegu','Gyeongsangbuk-do','Seoul','Gyeonggi-do']
avg_temp_by_province = avg_temp_by_province[provinces_to_keep]

In [36]:
avg_temp_by_province = avg_temp_by_province.asfreq(freq='W')

In [37]:
avg_temp_by_province.columns.name = None              
avg_temp_by_province = avg_temp_by_province.reset_index()

In [38]:
# avg_temp_by_province = avg_temp_by_province.iloc[3:]

In [39]:
avg_temp_by_province = avg_temp_by_province.set_index('Date')
avg_temp_by_province

            Daegu  Gyeongsangbuk-do  Seoul  Gyeonggi-do
Date
2020-01-05    2.2               4.2    1.3          0.1
2020-01-12    2.7               2.6   -1.0         -0.5
2020-01-19    3.2               3.7    1.9          1.7
2020-01-26    6.7               6.4    5.5          5.3
2020-02-02    3.6               4.7    1.5          1.0
2020-02-09    1.9               2.5   -0.5         -0.9
2020-02-16    5.0               4.5   -1.4         -1.1
2020-02-23    4.9               5.2    2.5          2.2
2020-03-01    9.4               8.3    5.8          4.8
2020-03-08    8.3               7.7    9.3          7.4
2020-03-15    6.2               5.6    4.0          4.5
2020-03-22   14.1              10.1   11.0         10.9
2020-03-29    8.7               6.4    8.7          7.4
2020-04-05    9.3               6.0    7.2          6.7
2020-04-12    9.2               9.6    9.9          9.6
2020-04-19   11.1              10.2   12.3         11.8
2020-04-26   13.6              10.9   12.3         11.8
2020-05-03   17.9              18.2   21.8         21.1
2020-05-10   18.9              18.4   14.4         14.2
2020-05-17   22.0              17.1   19.1         19.1
2020-05-24   21.6              19.9   17.1         16.8
2020-05-31   22.3              18.5   21.2         20.4
2020-06-07   23.5              18.4   22.7         21.6
2020-06-14   25.5              25.0   24.0         22.9
2020-06-21   22.2              19.0   26.1         24.2
2020-06-28   26.1              23.3   25.2         23.5

# Join Avg Temp and Confirmed

In [40]:
df_inner = pd.merge(confirmed_by_date, avg_temp_by_province, on='Date', how='inner')
df_inner

            Confirmed  Daegu  Gyeongsangbuk-do  Seoul  Gyeonggi-do
Date
2020-01-26          3    6.7               6.4    5.5          5.3
2020-02-02         15    3.6               4.7    1.5          1.0
2020-02-09         27    1.9               2.5   -0.5         -0.9
2020-02-16         29    5.0               4.5   -1.4         -1.1
2020-02-23        602    4.9               5.2    2.5          2.2
2020-03-01       3736    9.4               8.3    5.8          4.8
2020-03-08       7134    8.3               7.7    9.3          7.4
2020-03-15       8126    6.2               5.6    4.0          4.5
2020-03-22       8897   14.1              10.1   11.0         10.9
2020-03-29       9583    8.7               6.4    8.7          7.4
2020-04-05      10237    9.3               6.0    7.2          6.7
2020-04-12      10512    9.2               9.6    9.9          9.6
2020-04-19      10661   11.1              10.2   12.3         11.8
2020-04-26      10728   13.6              10.9   12.3         11.8
2020-05-03      10793   17.9              18.2   21.8         21.1
2020-05-10      10874   18.9              18.4   14.4         14.2
2020-05-17      11050   22.0              17.1   19.1         19.1
2020-05-24      11190   21.6              19.9   17.1         16.8
2020-05-31      11468   22.3              18.5   21.2         20.4
2020-06-07      11776   23.5              18.4   22.7         21.6
2020-06-14      12085   25.5              25.0   24.0         22.9
2020-06-21      12421   22.2              19.0   26.1         24.2
2020-06-28      12715   26.1              23.3   25.2         23.5