# COVID 19

# Introduction

# Goals

# Technical Requirements

# Libraries

In [43]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

sns.set_palette("pastel")

# Datasets

## Age

In [86]:
age = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\\age.csv",
    index_col=0,
    skipinitialspace=True,
)

In [87]:
# Deletes time column.
age = age.drop(["time"], axis=1)

In [88]:
# Modifies column names.
age.rename(
    columns={
        "age": "Age",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)

In [89]:
# Renames the index.
age.index.names = ['Date']

In [91]:
groupby_age = age.groupby(['Age'])[['Confirmed', 'Deceased']].sum()
groupby_age

     Confirmed  Deceased
Age
0s       16107         0
10s      68752         0
20s     345827         0
30s     137539       194
40s     168250       295
50s     230030      1537
60s     158505      3743
70s      82107      7599
80s      54086     12136

In [92]:
groupby_age["Percentage"] = (
    groupby_age["Deceased"] / groupby_age["Confirmed"]
) * 100
groupby_age['Percentage'] = groupby_age['Percentage'].apply('{:,.2f}'.format)
groupby_age

     Confirmed  Deceased Percentage
Age
0s       16107         0       0.00
10s      68752         0       0.00
20s     345827         0       0.00
30s     137539       194       0.14
40s     168250       295       0.18
50s     230030      1537       0.67
60s     158505      3743       2.36
70s      82107      7599       9.25
80s      54086     12136      22.44

## Gender

In [95]:
gender = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\gender.csv",
    index_col=0,
    skipinitialspace=True,
)

In [96]:
# Deletes time column.
gender = gender.drop(["time"], axis=1)

In [97]:
# Modifies column names.
gender.rename(
    columns={
        "sex": "Sex",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)

In [98]:
# Renames the index.
gender.index.names = ['Date']

In [103]:
groupby_gender = gender.groupby(['Sex'])[['Confirmed', 'Deceased']].sum()

In [104]:
groupby_gender["Percentage"] = (
    groupby_gender["Deceased"] / groupby_gender["Confirmed"]
) * 100
groupby_gender['Percentage'] = groupby_gender['Percentage'].apply('{:,.2f}'.format)
groupby_gender

        Confirmed  Deceased Percentage
Sex
female     747467     12019       1.61
male       513727     13484       2.62

## Province

In [105]:
province = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\province.csv",
    index_col=0,
    skipinitialspace=True,
)

In [66]:
# Deletes time column.
province = province.drop(["time", "released"], axis=1)

In [106]:
# Modifies column names.
province.rename(
    columns={
        "province": "Province",
        "confirmed": "Confirmed",
        "deceased": "Deceased",
    },
    inplace=True,
)

In [107]:
# Renames the index.
province.index.names = ['Date']

In [108]:
groupby_province = province.groupby(['Province'])[['Confirmed', 'Deceased']].sum()

In [109]:
groupby_province["Percentage"] = (
    groupby_province["Deceased"] / groupby_province["Confirmed"]
) * 100
groupby_province['Percentage'] = groupby_province['Percentage'].apply('{:,.2f}'.format)
groupby_province

                   Confirmed  Deceased Percentage
Province
Busan                  16341       299       1.83
Chungcheongbuk-do       5801         0       0.00
Chungcheongnam-do      16780         0       0.00
Daegu                 807506     17624       2.18
Daejeon                 5217        58       1.11
Gangwon-do              5908       225       3.81
Gwangju                 3359         0       0.00
Gyeonggi-do            81059      1600       1.97
Gyeongsangbuk-do      161079      5393       3.35
Gyeongsangnam-do       13860         0       0.00
Incheon                16645        16       0.10
Jeju-do                 1449         0       0.00
Jeollabuk-do            2108         0       0.00
Jeollanam-do            1763         0       0.00
Sejong                  5111         0       0.00
Seoul                  81923       298       0.36
Ulsan                   5269        91       1.73

## Patients

In [256]:
patient = pd.read_csv(
    "C:\py\Projects\TuringCollege\COVID19\DataSets\patient.csv",
    index_col=False,
    skipinitialspace=True,
)

In [258]:
# Deletes unneeded columns.
patient = patient.drop(
    [
        "country",
        "province",
        "city",
        "symptom_onset_date",
        "confirmed_date",
        "released_date",
        "deceased_date",
        "state",
        "infected_by",
        "contact_number",
        "ID"
    ],
    axis=1,
)

In [259]:
# Modifies column names.
patient.rename(
    columns={
        "sex": "Sex",
        "age": "Age",
        "infection_case": "Infection",      
    },
    inplace=True,
)

In [260]:
patient.head()

      Sex  Age             Infection
0    male  50s       overseas inflow
1    male  30s       overseas inflow
2    male  50s  contact with patient
3    male  20s       overseas inflow
4  female  20s  contact with patient

In [261]:
groupby_patient = patient.groupby(['Sex','Age'])['Infection']
groupby_patient

In [109]:
groupby_province["Percentage"] = (
    groupby_province["Deceased"] / groupby_province["Confirmed"]
) * 100
groupby_province['Percentage'] = groupby_province['Percentage'].apply('{:,.2f}'.format)
groupby_province

                   Confirmed  Deceased Percentage
Province
Busan                  16341       299       1.83
Chungcheongbuk-do       5801         0       0.00
Chungcheongnam-do      16780         0       0.00
Daegu                 807506     17624       2.18
Daejeon                 5217        58       1.11
Gangwon-do              5908       225       3.81
Gwangju                 3359         0       0.00
Gyeonggi-do            81059      1600       1.97
Gyeongsangbuk-do      161079      5393       3.35
Gyeongsangnam-do       13860         0       0.00
Incheon                16645        16       0.10
Jeju-do                 1449         0       0.00
Jeollabuk-do            2108         0       0.00
Jeollanam-do            1763         0       0.00
Sejong                  5111         0       0.00
Seoul                  81923       298       0.36
Ulsan                   5269        91       1.73

# Data Cleaning

# Descriptive Statistics

# Exploratory Data Analysis (EDA)

# Conclusions

# Recommendations

# Suggestions for Improvement